/*
Theme Name: Wp Residence Child theme
Theme URI: http://themeforest.net/user/annapx
Description: Child theme for Wp Residence
Author: HTML Planet - www.htmlplanet.it
Version: 1.40
Template: wpresidence
Updated: 2018-06-22 16:11:21
*/

/* @charset "UTF-8"; */



/* regole di altri sviluppatori precedenti */
/* erano nel campo custom css e ho preferito spostarle qui // Lorenzo M. */

.row_user_dashboard .profile-onprofile{
	background:transparent!important;
}

.listing_wrapper.col-md-12 .property_unit_custom.row_no_5{
	margin-top:37px;
}

#access ul ul a,
#access ul ul {
	border:none!important;
}
.unit_element_34148,
/* .property_listing h4, */
#access ul.menu > li > a {
	font-weight: 600;
	line-height: 50px;
}
#access{
	margin-right:215px;
}
.submit_action{
	font-weight:600;
	text-transform:uppercase;
}
#advanced_submit_2 {
	color:#fff;
}

.agent_detail,
.listing_details {
    font-size: 14px;
}

.wpestate_estate_property_design_intext_details #add_favorites{
	height:25px;
	overflow:hidden;	
	color:#c2cbd9;
	right: 5px;
	width: 50px;
}
.icon-set{
	font-size: 18px;
}
.user_property{
	font-size: large;
    font-weight: bold;
}
.property_title{
	font-size: x-large;
    font-weight: bold;
}
.property_price{
    text-align: right;
    float: right;
    font-size: x-large;
    line-height: 45px;
}
.price_label {
    font-size: 12px !important;
}
.link_unit{    
	width: 30px;
    height: 30px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    background-image: none!important;
    border: 1px solid #eef3f6;
    text-align: center;
    padding-top: 7px;
    color: #c2cbd9;
}
.link_unit,.link_unit a,.link_unit span{
	color: #c2cbd9;	
	font-size: 18px;
    vertical-align: top;
}
.link_unit:hover,.link_unit a:hover,.link_unit span:hover{
	color: #212121;	
}
.wpestate_estate_property_design_intext_details .share_unit{
	top: -77px;
}
.property_visits{
	font-size: small;
}
#add_favorites.isfavorite,.wpestate_estate_property_design_intext_details #add_favorites:hover,.isnotfavorite{
	background: none;
    color: #212121;
    padding:0px !important;    
}
.icon-fav.custom_fav:before,.icon-fav.custom_fav.icon-fav-on:before{
	font-size: 25px !important;	
}

.filter_menu li:hover{
	color:#fff;
}

#direct_pay {;
    line-height: 1.4em;
}

.header_type1.header_left #access{
	margin: 0px 215px 0px 0px;
}

#agent_contact_name, #agent_user_email, #agent_phone {
    width: 32.19%;
}

.row_user_dashboard .breadcrumb_container {
    background-color: #ebebeb;
}

.add-estate.profile-page.profile-onprofile.row {
    padding-left: 0px;
}
.add-estate.profile-page.profile-onprofile.row.profile-page-submit {
	margin-bottom:70px;
}
.add-estate.profile-page.profile-onprofile.row.row-first {
	border-top:0px;
}

#advanced_submit_10,
.with_search_form_float #advanced_submit_10 {
    padding: 14px 30px 13px;
	margin-bottom:5px !important;
}

.wpestate_marker.rentals{
	background: #062f47;
}

.wpestate_marker.rentals:after{
	border-top: 4px solid #062f47;
}

.wpestate_marker.sales{
	background: #CF1409;
}

.wpestate_marker.sales:after{
	border-top: 4px solid #CF1409;
}

#google_map_prop_list_sidebar .adv-search-1 .adv_extended_options_text {
	color:#767676;
}

#google_map_prop_list_sidebar .adv_search_slider label{
	color:#535353;
}
.header_type1.header_left .user_menu.user_loged {
	margin-right:15px !important;
}
.logo {
	padding-left:15px !important;
}
.logo img {
	/* padding-top: 8px; */
}







/* 2018 Lorenzo M. */

/* regole generali */
.text-info {
	color:#9B9B9B;
	margin-top:8px;
	display:inline-block;
}
.text-warning {
	padding:8px 0; 
	color:orange;
}
.row_user_dashboard a {
	
}



	


/* regole per fix generale */
.breadcrumb a {
	color: #999 !important;
}
.breadcrumb .active {
	color: #337ab7 !important;
}
.website-wrapper a:hover {
	color: #126db3 !important;
	text-decoration:underline !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #CCCCCC !important;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #CCCCCC !important;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #CCCCCC !important;
}
:-moz-placeholder { /* Firefox 18- */
	color: #CCCCCC !important;
}
.entry-title-agent, .entry-title {
	letter-spacing:1px;
	font-size:18px;
	/* margin-left:10px !important; */
}
#primary {
	width: 30% !important;
}
.submit_container .wp-editor-wrap {
	padding: 0 10px;
}
.submit_form_row {
	margin-left: 30px;
}

@media (max-width:991px) {
	#google_map_prop_list_wrapper #gmap_wrapper, 
	#google_map_prop_list_wrapper #googleMap,
	#google_map_prop_list_wrapper {
		max-height:0px;
	}
	.gmap-controls {
		display:none;
	}
}
.header_type1.header_left #access {
	margin: 0px 150px 0px 0px !important;
}
.logged-in .header_type1.header_left #access {
	margin: 0px 70px 0px 0px !important;
}
input[type="checkbox"] {
	margin-top:5px !important;
}
h3 {
	font-size:24px !important;
	padding-top: 15px !important;
}
.single-content p a {
	color:#167ac6 !important;
}
.submit_action a,
.submit_action a:hover,
.submit_action a:active,
.submit_action a:visited {
	color:#FFF !important;
	text-decoration:none !important;
}
.col-md-12.top_dahsboard_wrapper, 
.col-md-12.row_dasboard-prop-listing {
	padding-right: 15px;
}
.col-md-8.row_dasboard-prop-listing {
	padding-left: 60px !important;	
}
.featured_article_righ, 
.featured_article_secondline, 
.property_location .inforoom, 
.property_location .infobath, 
.agent_meta, 
.blog_unit_meta a, 
.property_location .infosize, 
.sale_line, 
.meta-info a, 
.breadcrumb > li + li:before, 
.blog_unit_meta, 
.meta-info, 
.agent_position, 
.breadcrumb a {
	color:initial !important;
}
.pagination > li > a, 
.single-content p a, 
.featured_article:hover h2 a, 
.user_dashboard_listed a, 
.unit_more_x a {
	color:#167ac6 !important;
}
.pagination > li > a:hover, 
.single-content p a:hover, 
.featured_article:hover h2 a:hover, 
.user_dashboard_listed a:hover, 
.unit_more_x a:hover {
	color:#126db3 !important;
}
.wide {
	width:100% !important;
}
.full_form_image {
	width:98%;
}

/* regole per template 3-4_map_core */
#google_map_prop_list_sidebar.map_core_3_4 {
	width:100% !important;
}
#google_map_prop_list_sidebar .adv-search-1 {
	width:100% !important;
	max-width:1000px !important;
	padding:10px 0 0 0;
}
@media (min-width:992px) and (max-width:1023px) {
	#google_map_prop_list_sidebar .adv-search-1 {
		display:block !important;
	}
}
#google_map_prop_list_sidebar .order_filter_single {
	margin-top:0 !important;
	min-width: 200px;
}
#a_filter_order {
	margin-top:5px;
}
@media (max-width:768px) {
	#google_map_prop_list_sidebar .order_filter_single {
		width: 98% !important;
	}
}
.adv-search-1 .geolocation_search_wrapper {
	width:100%;
	padding-right:110px;
}
.adv-search-1 #geolocation_search {
	margin-right:10px !important;
}

@media (min-width:768px) {
	#google_map_prop_list_wrapper.map_core_1_4 {
		width:360px !important;
		overflow:hidden;
		z-index:100;
		position:fixed;
		top: 42px !important;
		max-height: 100%;
	}
	#google_map_prop_list_sidebar.map_core_3_4 {
		padding-left:360px;
	}	
}
@media (max-width:767px) {
	#google_map_prop_list_wrapper.map_core_1_4 {
		display:none;
	}
}




/* regole per fix in home page */
.google_map_prop_list_sidebar .property_listing.property_unit_type3 .listing_actions {
	z-index:100;
}
.property_listing.property_unit_type3 .property_listing_details {
	display:none !important;
}

.property_listing .property_agent,
.property_listing .property_city,
.property_listing .property_size,
.property_listing  {
	font-weight: 700;
}
.property_listing .carousel-control i {
	display:none;
}
.property_listing:hover .carousel-control i {
	display:inline-block;
}
/* 2018-12-06 Lorenzo M. fix */
.col-md-12.full_width_prop .post-carusel .item img {
    max-height: 490px;
    width: 100%;
    object-fit: cover;
}
/* --- */
.adv_extended_options_text {
	color:#767676;
}

#google_map_prop_list_wrapper #gmap-control span i:hover {
	color:#FFF;
}
.property_listing {
	max-width: 640px;
}
.property_listing.property_unit_type1 .icon-fav {
	width:100%;
	bottom:40px;
	right: 0;
}

.wpestate_estate_property_design_agent .wpestate_agent_details_wrapper{
	width:90px;
}
.user_property{
	font-weight:bold;
}
.hashtag_proprerty,.hashtag_proprerty a{
	color: #167ac6 !important;
}
.date_publish_proprerty {color:#999999 !important; font-size:small;}


.property_listing.property_unit_type3 .icon-fav.icon-fav-on-remove, 
.property_listing.property_unit_type1 .icon-fav.icon-fav-on-remove {
	top: 60px;
}
.icon-fav-on-remove {
	background-color:#F1396D;
}
.property_listing, 
.property_listing:hover, 
.featured_property, 
.featured_article, 
.agent_unit, 
.user_role_unit, 
.agency_unit {
	background-color: #ffffff !important;
}
.agent_unit:hover {
	border:0;
}
.agent_unit {
	min-height:200px;
	padding-bottom:0;
}
.listing-cover-plus {
	display:none !important;
}
.property_unit_custom_agent_face {
	width: 40px !important;
    height: 40px !important;	
}
.listing_wrapper .property_listing {
	box-shadow: none !important;
	/*border:solid 2px #fafafa;*/
	padding-top:0;
	height:520px;
}
.col-md-3  .property_listing {
    min-height: 450px;
    height: auto;
	
}
.home .main_wrapper {
	overflow:hidden;
}
 .main_wrapper,.content_wrapper{
	background-color: #fafafa !important;
}
.home .vc_text_separator {
	border:0;
}



/*end custom home*/
.property_agent{
	margin-left: 0px !important;	
}
.home .wpresidence_button.wpestate_item_list_sh,
.home .wpresidence_button.wpestate_item_list_sh:hover {
	background-color:transparent !important;
	color:#167ac6 !important;
}
div#gmap_wrapper {
    display: none !important;	
}
.property_unit_custom_element.link_to_page {
	font-weight:700;
}
.property_unit_custom_element h4 {
	line-height:18px;
	/* margin-top:10px; */
	padding:0px !important;
}
.property_unit_custom_element h4 a {
	line-height:18px;
	font-weight:bold;
}
.property_listing .property_city {
	font-weight:400;	
}







/* regole per input slider home page */
#wpestate_slider_radius .ui-slider-handle {
	background-color:#167ac6;
}
#wpestate_slider_radius.ui-widget-content {
	background-color:#909090 !important;
	border:0px !important;
	border-radius:0;
}
#wpestate_slider_radius .ui-widget-header {
	background-color:#ebebeb !important;
	border-radius:0;
}



/* regole per template property single */
.single-estate_property h1.entry-title {
	display:none;
}
.single-estate_property h1, 
.single-estate_property h1 a {
    font-size: 22px !important;
	margin-top: 10px;
}
.single-estate_property .slider-property-status {
	display:none;
}
.prop_social_custom i {
    font-size: 17px;
    margin-left: 0;
    display: inline;
}
.prop_social i,
.prop_social_custom i {
    color: #a0a0a0;
}
.visit_property {
	display:inline-block;
	background-color:#167ac6 !important;
	color:#FFF;
	padding:3px 15px;
	margin-bottom:20px;
	border-radius:2px;
}
a.visit_property,
a.visit_property:hover,
a.visit_property:focus {
	color:#FFF !important;
}
.agent_listings_title_similar {
	font-size:22px !important;
}
.breadcrumb_container {
	margin-bottom:0px !important;
}
#tab_prpg .nav-tabs {
	border-bottom: 1px solid #efefef;
	background-color:#FFF !important;
}
#tab_prpg li {
	width: auto;
	border:0 !important;
	margin-right:15px;
}
#tab_prpg li a {
	color:#999999 !important;
	border:0;
	border-bottom: 3px solid #FFFFFF;
	padding:0;
}
#tab_prpg li:hover {
	font-size: 15px !important;
}
#tab_prpg li a:hover {
	background-color:#FFF !important;
}	
#tab_prpg li.active {
	margin-top: 1px;
	border-bottom: 3px solid #262626 !important;
	border-radius:0 !important;
}
#tab_prpg li.active a {
	color:#262626 !important;
	text-decoration: none !important;
	/* margin-bottom: -1px; */
}
#tab_prpg .nav-tabs > li > a {
	height:35px;
}
#tab_prpg .tab-pane {
	padding-top: 20px !important;
}

@media (max-width:767px) {
	#single-property-wrapper .vc_row {
		border:0 !important;
		padding:0 !important;
	}
}
.owl-carousel .owl-item .item {
	background-color: #000000;
}


/* regole per tab bootstrap scroll horizontal per dispositivi mobile	*/
/* solo regole css, non serve il supporto del js						*/
@media (max-width:768px) {
	#tab_prpg  {
		position:relative;
		margin:0 auto;
		padding:5px;
	}

	#tab_prpg .nav-tabs {
		overflow-x: auto;
		overflow-y: hidden;
		display: -webkit-box;  
		display: -moz-box;   
	}
	#tab_prpg .nav-tabs > li {
		float:none;
	}
	#tab_prpg .nav-tabs > li:last-of-type {
		padding-right:0px;
		background-color:#FFF;
	} 
	ul.nav.nav-tabs.list:after {
		content: ' ';
		width: 100px;
		background-color: white;
		display: block;
		height: 30px;
	}
	.bhs-wrapper .more-items {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 100;
		height: 45px;
		width: 50px;
		background-image: linear-gradient(to right, rgba(255,255,255,0) 10%, rgb(255,255,255) 90%);
	}
}
/* --- */






.advanced_search_sidebar form {
	width:100%;
}
.advanced_search_sidebar .adv_extended_options_text {
	color:#767676;
}
.nav-prev-wrapper,
.nav-next-wrapper {
	display:none !important;
}
#carousel-listing .caption-wrapper,
#carousel-listing .carousel-round-indicators,
.carusel-back, #carousel-listing .carousel-indicators {
	display:none !important;
}
@media (min-width:1200px) {
	#carousel-listing iframe {
		min-height:486px !important;
	}
	#carousel-listing .carousel-inner {
		max-height: 485px !important;
	}
}
.property_reviews_wrapper {
	padding:0px;
}	

.review-login-user-wrapper {
	height: 80px;
}
.review-login-user-wrapper .reviwer-name {
	margin-top:18px;
}
.review-login-user-wrapper + h5 {
	margin-bottom:2px;
	margin-left: 75px;
}
.review-login-user-wrapper + h5 {
	margin-top:-80px;
}
.property_reviews_wrapper .rating, 
.add_review_wrapper .rating {
	float: left;
    margin-left: 75px;
    margin-top: -20px;
}
.listing-review .property_ratings {
    margin-top: 0px;
}
#comments {
	padding:0px;	
}
.wpestate_estate_property_design_agent_details_intext_details {
	margin-top:-10px;
}
.wpestate_estate_property_design_agent_details_intext_details .agent-image-cover,
.wpestate_estate_property_design_agent .agent-image-cover {
	width:60px;
	height:60px;
	border-radius:60px;
	float:left;
	margin-right:20px;
	background-size: cover;
    background-position: 50% 50%;
}
.wpestate_estate_property_design_agent .agent-image-cover {
	width:120px;
	height:120px;
	border-radius:120px;
	margin:auto;
	margin-bottom: 30px;
	float: none;
	display: block;	
	text-align:center !important;
}
@media (max-width:991px) {
	.wpestate_estate_property_design_agent .agent-image-cover {
		float: none;
		display:block;
		text-align:center;
		width:48px;
		height:48px;
		border-radius:200px;
		margin:auto;
		margin-bottom: 30px;
	}
}
.single div#gmap_wrapper {
    display: none !important;	
}
@media (max-width:768px) {
	.wpb_wrapper .wpestate_estate_property_slider_section_wrapper {
		/* margin-left: -45px !important; */
		/* margin-right: -45px !important */
	}
}



/* regole per tab panel form in pagina property single */
.single-property-tabpanel-form ul {
	background-color: #db2033;
}
.single-property-tabpanel-form .vc_tta-panels {
	background-color: #ffffff !important;
	border: 1px solid #f0f0f0;
}
.single-property-tabpanel-form .vc_tta-tab > a {
	background-color: #db2033 !important;
	color:#FFFFFF !important;
}
.single-property-tabpanel-form .vc_tta-tabs-container .vc_active {
	border: 1px solid #f0f0f0;
	border-bottom: 0px solid #f0f0f0;
}
.single-property-tabpanel-form .vc_active > a {
	background-color: #ffffff !important;
	color: #62748f !important;
}
@media (min-width: 768px) {
	.wpb-js-composer .vc_tta-color-white.vc_tta-style-outline.vc_tta-tabs .vc_tta-panels .vc_tta-panel-body {
		border: #f0f0f0 1px solid !important;
	}
}


/* regole per tab panel horizontal scroll n mobile	*/
/* bhs = bootstrap horizontal scrolling				*/
/* source: https://codepen.io/srees/pen/pgVLbm		*/
/*
.bhs-wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
	padding:5px;
}
.bhs-wrapper .list {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
  	height:50px;
}
.bhs-wrapper .list li {
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}
.bhs-scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}
.bhs-scroller.scroller-right{
  float:right;
}
.bhs-scroller.scroller-left {
  float:left;
}
*/





/* regole per related in pagina property single */
.single-estate_property .wpestate_estate_property_design_related_listings h3 {
	padding-left:0px !important;
}
.single-estate_property .wpestate_estate_property_design_related_listings .col-md-3,
.single-estate_property .wpestate_estate_property_design_related_listings .col-md-4 {
	width:100% !important;
	padding-right: 0;
    padding-left: 0;
}
.single-estate_property .carousel-control.right, 
.single-estate_property .carousel-control.left {
	display:none;
}
@media (min-width:768px) {
	.single-estate_property .wpestate_estate_property_slider_section_wrapper:hover .carousel-control.right, 
	.single-estate_property .wpestate_estate_property_slider_section_wrapper:hover .carousel-control.left {
		display:block;
	}
}
.single-estate_property .owl-theme .owl-controls .owl-buttons div, 
.single-estate_property .owl-theme .owl-controls .owl-buttons div {
	display:none;
}
@media (min-width:768px) {
	.single-estate_property .lightbox_property_slider:hover .owl-theme .owl-controls .owl-buttons div, 
	.single-estate_property .lightbox_property_slider:hover .owl-theme .owl-controls .owl-buttons div {
		display:block;
	}
}
@media (max-width:1024px) {
	.single-estate_property .col-md-12.full_width_prop {
		padding:0;
	}
}


/* regole per link absolute a fondo pagina */
.ticket-box {
    font-size: 25px;
    background-color: #1a1a1a;
    padding: 9px 12px;
    position: fixed;
    bottom: 10px;
    right: -125px;
    z-index: 100;
    opacity: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    margin-right: 51px;
    opacity: 0;
    z-index: 102;
}
.prop_social_single {
	font-size: 17px;
	width:230px !important;
	margin-right: 20px;
}
#print_page {
	margin-top:0 !important;
}

/* fix top */
.woocommerce-checkout .header_media.with_search_10,
.header_media.with_search_10:empty {
	display:none !important;
}


/* regole per menu principale */
#access ul.menu > li > a,
#access ul.menu > li:hover > a {
    font-size: 18px !important;
	width: 35px;
    height: 50px;
    overflow: hidden;
	display: inline-block !important;
	padding: 0px 10px !important;
	margin-left: 7px;
    margin-right: 7px;
}
#wpmenucartli {
	position:relative !important;
}
#access ul.menu > li > a.wpmenucart-contents .cartcontents {
	position: absolute;
    top: 3px;
    right: 0;
    background-color: red;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 50px;
	overflow: hidden;
}
#menu-item-30438 a.menu-item-link {
	padding:0 13px;
}

/* regole pagina singolo prodotto */
.single-title {
	margin-bottom:24px;
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background-color:#db2033;
	padding: 12px;
    font-size: 16px;
    height: 42px;
	border-radius: 0;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
	background-color:#db2033;
}
#schedule_meeting {
	padding:0;
}
.agent_contanct_form .field-date-hour {
	font-size: 18px;
	line-height:18px;
}
.agent_contanct_form .field-date-hour span {
	font-size: 14px;
	line-height:16px;
}

/* regole per form login e altri form */
p.forgetmenot label {
	/*
    margin-top: 57px;
    position: absolute;
    left: 50px;
	*/
	font-size: 14px;
}
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
	position:inherit !important;
	display: inline-block !important;
}
input[type="tel"] {
	font-size: 13px;
    padding: 9px 0 9px 9px;
    color: #8593a9;
    border: 1px solid #dde4e9;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: none;
    -webkit-appearance: none;	
} 


/* regole per elenco immobili home page */

.property_listing h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
    max-width: 295px;
}

@media (max-width:500px) {
	#google_map_prop_list_sidebar .listing_wrapper {
		width:100%;
		padding:0 !important;
	}
	#google_map_prop_list_sidebar #listing_ajax_container {
		/* padding:0 !important; */
	}
	.col-md-3 .property_listing {
    	min-height: 420px;
    }
    .listing_details{
   		min-height: 20px !important;
   		
    }
	.listing-unit-img-wrapper {
		/*margin-left:-15px;
		margin-right:-15px;*/
	}
	.listing_details{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;
	    max-width: 295px;
	}
}
.filter_menu {
	max-height:428px !important;
	overflow-x:hidden;
}

/* regole per menu profilo utente */
#user_menu_open {
	box-shadow: 0 0 5px 5px rgba(0,0,0,.2) !important;
	width:300px;
} 
#user_menu_open {
	margin-right: -30px;
}
#user_menu_open > li > a:hover, 
#user_menu_open > li > a:focus, 
.filter_menu li:hover, 
.sub-menu li:hover, 
#access .menu li:hover>a, 
#access .menu li:hover>a:active, 
#access .menu li:hover>a:focus {
	 background-color:#FFF !important;
	 text-decoration:none !important;  
}
.user_dashboard_links {
	line-height:1em;
}
.user_dashboard_links a {
	text-transform: initial !important;
	font-weight:400;
	padding:13px;
}
#user_menu_open a,
#user_menu_open a:hover {
	color:#212121 !important;
}
.user_dashboard_links a:hover {
	text-decoration:none !important;
	background-color:#f6f6f6 !important;
	color:#212121 !important;
}
.user_dashboard_links .user_tab_active, 
.mobile_user_menu li:hover {
	background-color:#ebebeb !important;
	font-weight:600;
	color:#212121 !important;
}
#user_menu_open>li>a i {
	color:#909090;
	font-size:20px;
	margin-right:35px;
    width: 20px;
}
#user_menu_open>li>a:hover i {
	color:#909090;
}
.user_dashboard_links .fa {
	margin-right:18px !important;
}

/* regola per logo nel menu mobile */
@media (max-width:991px) {
	ul#menu-main-menu:before {
		display: block;
		content: close-quote;
		width: 115px;
		height: 24px;
		margin: 0 0 15px 30px;
		background: transparent url(/wp-content/uploads/2018/05/Black.Logo_.iKLVB_.png) no-repeat;
	}
}

/* regole per fix */
.woo-vou-popup-content.woo-vou-preview-pdf-content {
	display:none;
}
.user_loged .navicon-button {
	display:none;
}
.header_wrapper_inside .menu_user_picture {
	width:35px !important;
	height:35px !important;
}
.header_wrapper_inside .fa.fa-home {
	font-size: 24px;
    line-height: 46px;
}
.header_wrapper_inside .wpmenucart-icon-shopping-cart-0 {
	font-size: 22px;
}
.mobile-trigger-user .menu_user_picture {
	border: 0px solid #444444 !important;	
	width: 35px;
    height: 35px;
    margin-top: 5px;
}
div.mobile-trigger:hover i,
div.mobilemenu-close:hover {
	color: #1ca8dd !important;
}
@media (min-width:1024px) {
	#all_wrapper > .container {
		padding-top:56px;
	}
	.page-template-user_dashboard #all_wrapper .container,
	.page-template-user_dashboard_profile #all_wrapper .container,
	.page-template-user_dashboard_add #all_wrapper .container,
	.page-template-user_dashboard_favorite #all_wrapper .container,
	.page-template-user_dashboard_searches #all_wrapper .container,
	.page-template-user_dashboard_inbox #all_wrapper .container,
	.woocommerce-orders #all_wrapper .container {
		padding-top:0px;
	}
	#all_wrapper > .container.header_transparent {
		padding-top:0px;
		margin-top: -56px;
	}
}
.container.main_wrapper.fixed_header {
	position: relative;
	border: none;
}

.page-template-user_dashboard_subscription .has_header_type1 .dashboard-margin,
.page-template-user_dashboard_add_agent .has_header_type1 .dashboard-margin,
.page-template-user_dashboard_agent_list .has_header_type1 .dashboard-margin {
	top:0 !important;
}
.col-md-12.user_dashboard {
    padding-left: 60px;
}
.page-template-user_dashboard #search_dashboard_auto {
	padding-left:45px;
}




/* regola in pagina pagamanto */
.pack_description_row {
	display:initial !important;
}
#package_pick label {
	margin-top:3px;
}
.recuring_wrapper {
	margin-bottom: 15px;
}
.payment-wrapper {
    float: left;
    width: 200px;
    margin-right: 15px;	
}
#pick_pack {
    background-image: none;
	width:100%;
	height:auto;
	text-align: center;
}
#pick_pack_paypal_image {
    background-image: url(img/paypal_button.jpg);
	background-color: #e3e8eb;
    background-position-x: center;
    width: 200px;
    height: 69px;
    margin-right: 0px;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
.pack_description_unit.pack_description_details.text-warning {
	padding:10px 15px;
	color: orange !important;
}



/* regole per vista desktop simile a Youtube */
@media (min-width:1350px){
	.content_wrapper {
		width:1340px !important;
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.woocommerce-orders .content_wrapper {
		width:1400px !important;		
	}
	.content_wrapper .full_width_prop {
		padding-top:0 !important;
		padding-left:0 !important;
		padding-right:0 !important;	
	}
	.content_wrapper .full_width_prop .vc_column-inner {
		padding-top:0px !important;
	}
	.content_wrapper .full_width_prop .wpb_widgetised_column {
		margin-top:-40px !important;
	}
	.content_wrapper .full_width_prop .wpb_widgetised_column .widget-title-sidebar {
		margin-bottom:0px;
	}
}

/* fix bordo dei campi dei form */
.form-control,
.form-control-select select {
	margin-bottom:14px;
	color: #9ca9af !important;
}
input.form-control {
	padding: 9px 9px !important;
}
.form-control-select select {
	/* padding: 9px 4px !important; */
}
.form-control, 
.form-control-select select, 
.ui-widget-content .ui-state-default {
    border: 1px solid #CCCCCC !important;
}
.form-control:hover,
.ui-widget-content .ui-state-default:hover {
	border-color:#A0A0A0 !important;
}
.form-control:focus, 
.form-control.open, 
.form-control-select select:focus, 
.form-control-select select.open, 
.ui-widget-content .ui-state-default:focus {
	border-color:#167ac6 !important;
	box-shadow: #167ac6 0px 0px 5px 0px !important;
}
p.required,
input.required, 
select.required, 
textarea.required {
	border-color: #e60b0b !important;
    box-shadow: #e60b0b 0px 0px 5px 0px !important;
}
.form-control[readonly].readonly-to-default {
	background-color:#FFF;
}
/* --- */

/* fix elementi in home page */
.radius_wrap:after {
	color:#9D9D9D !important;
}
.submit_action {
	background-color:#167ac6 !important;
}
.submit_action:active {
	background-color:#156EAE !important;
}
.listing_wrapper:hover a {
	color: #126db3 !important;
	text-decoration:underline !important;
}
/* --- */

/* fix advanced search per pagine interne */
.agent_contanct_form {
	padding: 0px;
}
.agent_contanct_form .row {
	margin-left:-15px;
	margin-right:-15px;
}
#adv-search-1 .wpresidence_button,
#adv-search-1 .adv_handler,
button#change_pass,
button.wpresidence_button,
input.wpresidence_button,
a.wpresidence_button,
.page-template-user_dashboard a.wpresidence_button,
.comment-form #submit,
.comment-form #submit.wpresidence_button,
.page-template-user_dashboard_add #aaiu-uploader.wpresidence_button,
.page-template-user_dashboard input[type="submit"].wpresidence_button,
.page-template-user_dashboard_add input[type="submit"].wpresidence_button,
.single-content input[type="submit"]#submit_review,
.single-content input[type="submit"]#edit_review,
.agent_contanct_form input[type="submit"]#agent_submit {
	background-color:#167ac6 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color:#FFF !important;
	border-radius:2px !important;
}
#adv-search-1 .wpresidence_button:hover,
/* #adv-search-1 .adv_handler:hover, */
button#change_pass:hover,
button.wpresidence_button:hover,
a.wpresidence_button:hover,
.page-template-user_dashboard a.wpresidence_button:hover,
.comment-form #submit:hover,
.comment-form #submit:hover.wpresidence_button,
.page-template-user_dashboard_add #aaiu-uploader:hover.wpresidence_button,
.page-template-user_dashboard input[type="submit"]:hover.wpresidence_button,
.page-template-user_dashboard_add input[type="submit"]:hover.wpresidence_button,
.single-content input[type="submit"]:hover#submit_review,
.single-content input[type="submit"]:hover#edit_review,
.agent_contanct_form input[type="submit"]:hover#agent_submit {
	background-color:#126db3 !important;
	color:#FFF !important;
	text-decoration:none !important;
}
#adv-search-1 .wpresidence_button:active,
/* #adv-search-1 .adv_handler:active, */
button#change_pass:active,
button.wpresidence_button:active,
a.wpresidence_button:active,
.page-template-user_dashboard a.wpresidence_button:active,
.comment-form #submit:active,
.comment-form #submit:active.wpresidence_button,
.page-template-user_dashboard_add #aaiu-uploader:active.wpresidence_button,
.page-template-user_dashboard input[type="submit"]:active.wpresidence_button,
.page-template-user_dashboard_add input[type="submit"]:active.wpresidence_button,
.single-content input[type="submit"]:active#submit_review,
.single-content input[type="submit"]:active#edit_review,
.agent_contanct_form input[type="submit"]:active#agent_submit {
	background-color:#126db3 !important;
}

.wpresidence_button#delete_profile,
.wpresidence_button#delete_profile:hover,
.wpresidence_button.view_public_profile,
.wpresidence_button.view_public_profile:hover {
	background-color: #ebebeb !important;
    color: #909090 !important;
	text-decoration:none !important;
}
@media (min-width:992px) {
	.search_wrapper {
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (min-width:992px) and (max-width:1023px) {
	.adv-search-1 {
		display:none;
	}
}

.wpresidence_button.disabled,
.wpresidence_button.disabled:hover,
.wpresidence_button.disabled:active {
	background-color: #ebebeb !important;
    color: #909090 !important;
}

.adv-search-1 input[type=text] {
	margin: 0px 13px 8px 0px;
}
#adv-search-1 .wpresidence_button.wp_button_grey {
	background-color:#F1F1F1 !important;
	color:#818181 !important;
}
#advanced_submit_10 {
	padding: 14px 15px 13px;
}
#adv-search-1 .adv_handler {
	background-color:transparent !important;
}
#adv-search-1 .adv_handler i {
	padding: 13px 15px 13px;
	margin-right:10px;
}
.adv_search_hidden_fields {
	padding: 0px 13px 10px 9px !important;
	background-color:#FFF !important;
}

.map_core_3_4 #adv-search-1 .col-md-10 {
	padding-left:0;
}

#google_map_prop_list_sidebar .adv-search-1 .col-md-3 {
	padding-left: 7px;
}
.checker_wrapper_half {
	padding:inherit !important;	
}
#adv-search-header-mobile {
	position: absolute;
	left:50%;
    z-index: 200;
    width: 20px;
    height: 20px;
    overflow: hidden;
    margin-left: 70px;
	padding-left:10px;
	color:#909090;
}
div#adv-search-header-mobile {
	background-color:#FFF !important;
	color: #212121;
}
@media (min-width:992px) and (max-width:1023px) {
	#adv-search-header-mobile {
		display:block !important;
	}
}
.filter_menu li:hover {
    color: #000;
}
.filter_menu li:hover {
	background-color: #f1f1f1 !important;
}
/* --- */






.col-md-9.col-md-push-3.rightmargin .has_4per_row.listing_wrapper.col-md-12.property_unit_type4 .listing_details.half_map_list_view, 
.col-md-9.col-md-push-3.rightmargin .listing_wrapper.col-md-12.property_unit_type4 .listing_details.half_map_list_view{
	display:none;
}
#google_map_prop_list_wrapper #map-view {
	display: none;
}
.single-estate_agency .property_reviews_wrapper {
    padding: 0px 0px;
}
.header_agency_container{
	padding: 15px 0px 15px 0px;
	width: 100%;
}
.agency_content {
	padding: 0px;
}
.agency_contact_padding {
    float: left;
    padding: 0px;
}
.single-estate_user h1, 
.single-estate_agent h1, 
.single-estate_agency h1, 
.single-estate_developer h1 {
    font-size: 32px;
    font-weight: 300;
	line-height:36px;
}

#search_wrapper.with_search_form_float,
#search_wrapper.search_wr_10 .adv-search-1,
.has_header_type4 #search_wrapper.with_search_form_float {
    width: 580px;
}
#search_wrapper.search_wr_11  .col-md-2 {
    width: 20%;
}
.lightbox_floor_details {
    display: none;
}	
.lightbox_property_sidebar {
	display:none;
}
.page-template-user_dashboard_add .profile-page.row .col-md-12:last-of-type .col-md-3 {
    display :none;
}	
	





/* NON voglio l'effetto transizione sulla barra di ricerca top */
#search_wrapper{
    -webkit-transition: all 0s ease !important;
    -moz-transition: all 0s ease !important;
    -o-transition: all 0s ease !important;
    -ms-transition: all 0s ease !important;
    transition: all 0s ease !important;
}
#search_wrapper {
	position:fixed !important;
}
#search_wrapper.sticky_adv{
    /* transition: all 0.7s ease; */
    -moz-transition: all 0s ease !important;
    -ms-transition: all 0s ease !important;
    /* -webkit-transition: all 0.4s ease; */
    -o-transition: all 0s ease !important;
}
#search_wrapper.with_search_form_float.sticky_adv{
    transition: all 0s ease !important;
    -moz-transition: all 0s ease !important;
    -ms-transition: all 0s ease !important;
    -webkit-transition: all 0s ease !important;
    -o-transition: all 0s ease !important;
}
/* --- */


/* regole per woocommerce */
.single-product .woocommerce-message a {
	float: right;
    background-color: #8fae1b;
    padding: 2px 10px;
    color: #FFF;
}
.single-product .woocommerce-message a:hover {
    color: #FFF !important;
}
.woocommerce-checkout .woocommerce-form-login-toggle {
	display:none !important;
}
.woocommerce-checkout .woocommerce-form-login {
	display:block !important;	
}
.woocommerce-checkout .woocommerce-form-login button.button {
	display:block !important;
	margin-bottom:25px;
}
.woocommerce .select2-hidden-accessible,
.woocommerce .select2-container--default .select2-selection--single {
	font-size: 13px !important;
    padding: 5px 0px 5px 9px !important;
    color: #8593a9 !important;
    border: 1px solid #dde4e9 !important;
    border-radius: 3px !important;
    background-color: #fff !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
	height: 36px;	
}
.woocommerce-checkout #customer_details {
	margin-bottom: 40px;
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
	display:none; /* nascondo il form di checkout */
}
.woocommerce-checkout .container-message-checkout {
	max-width:600px;
	margin-left:0;
	margin-bottom:20px;
}
.woocommerce-checkout .container-message-checkout .row {
	margin-left:0;
}
.woocommerce-checkout .container-message-checkout span.error {
	color:red;
}
.woocommerce form .form-row .input-checkbox {
	vertical-align: top;
}
.woocommerce-billing-fields,
.woocommerce-additional-fields {
	margin-top:20px;
}
#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment {
	background: #fafafa;
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background-color:#167ac6;
	text-decoration:none;
}
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
	background-color:#126db3;
	color: #FFF !important;
	text-decoration:none !important;
}
.woocommerce-cart table.cart img {
	width:80px;
}
.woocommerce td.product-thumbnail {
	width:120px;
}

/* alert messagge color in pagina edit profilo utente */
.alert-error {
	display:none;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    background-color: red;
    margin-bottom: 13px;
    padding: 1px 5px;
    border-radius: 0px;
    margin-top: 13px;
    float: left;
    width: 100%;
}
.alert-ok {
	display:none;
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    background-color: green;
    margin-bottom: 13px;
    padding: 1px 5px;
    border-radius: 0px;
    margin-top: 13px;
    float: left;
    width: 100%;
}
#image-loader {
	display:none;
	text-align:center;
	margin-bottom: 20px;
	background-color: #FFF;
}
#image-confirm {
	display:none;
	text-align:center;
	margin-bottom: 20px;
}
#image-confirm img {
	max-width:160px;
	margin:20px;
}
.upload_explain {
	margin-bottom:15px;
}
.col-md-12.top_dahsboard_wrapper.dashboard_package_row {
	padding-left:60px !important;
	/* display:none; /
}
.page-template-user_dashboard_add .col-md-12.top_dahsboard_wrapper.dashboard_package_row {
	display:block;
}
.submit_container {
	float:left; /* fix */
}
.input-fiscal-code {
	text-transform:uppercase;
}

/* bottoni pagina profilo utente */
.profile_button {
    margin-left: 0px;
    color: #fff !important;
    background-color: #1CA8DD;
    margin-right: 13px;
}




/* fix calendario pop-up */
.ui-widget-content .ui-state-default {
	border:0px !important;
}
.ui-datepicker.ui-widget-content tbody .ui-state-default:focus,
.ui-datepicker.ui-widget-content tbody .ui-state-default:hover,
.ui-datepicker.ui-widget-content tbody .ui-state-active,
.ui-datepicker.ui-widget-content tbody .ui-state-hover {
	background-color:#167ac6 !important;
}
.col-md-3.user_menu_wrapper {
	height:auto;	/* fix */
}


/* regole per pagine woocommenrce account: My order e My tickets */
.row_user_dashboard .breadcrumb_container,
.woocommerce .row_user_dashboard .breadcrumb_container {
	margin-left:60px;
	padding-left:15px;
	padding-right:15px;
	max-width:1000px;
}
.woocommerce .row_user_dashboard {
	margin-top:-80px !important; /* fix */
}
.woocommerce .woocommerce-order-downloads a.button {
	background-color:#FFF;
	color:#167ac6;
	padding:0px;
	font-size:14px;
	line-height:1.6em;
}
.woocommerce .woocommerce-order-downloads a.button:hover {
	background-color:#FFF;
}
.woocommerce table.my_account_orders .button {
	margin-right:10px;
	padding-top:9px;
	color:#FFF;
	background-color:#167ac6;
}
.woocommerce table.my_account_orders .button:hover,
.woocommerce table.my_account_orders .button:active {
	background-color:#126db3;
	color:#FFF !important;
	text-decoration:none !important;
}
/* --- */




/* pagina My Tickets */
.tickets-listing {
	margin:0;
	padding:15px 0 15px 0;
	border-bottom:1px solid #EEE;
	position:relative;
}
.tickets-listing.next-move-active {
	background-color: #f6f6f6;
}
.tickets-listing .tickets-date-wrapper {
	height: 110px;
	margin:0 -15px;
	padding: 6px 0;
	color:#909090;
}
.tickets-listing.status-assigned .tickets-date-wrapper,
.tickets-listing.status-confirmed .tickets-date-wrapper {
	color:inherit;
}
.tickets-listing .tickets-date span {
	display:inline-block;
	text-align:center;
	width: 100%;
	margin:3px 0;
}
.tickets-listing .tickets-date span.month {
	font-size:24px;
}
.tickets-listing .tickets-date span.day {
	font-size:34px;	
	font-weight:700;
}
.tickets-listing .tickets-date span.hour {
	font-size:16px;		
}
.tickets-listing .tickets-img {
	position:relative;
	white-space:nowrap;
	padding-right:10px;
}
.tickets-listing .tickets-img > span {
	margin:0 2px;
	display:inline-block;
	max-width:50%;
}
.tickets-listing .tickets-img .agent-image-cover,
.tickets-listing .tickets-img .property-image-cover {
	width:110px;
	height:110px;
	max-width:100%;
	border-radius:0px;
	margin:auto;
	margin-bottom:0px;
	float:none;
	display:block;	
	text-align:center !important;
	background-size:cover;
    background-position:50% 50%;
}
.tickets-listing .tickets-img .ticket-action {
	position:absolute;
	top:36px;
	left:0;
}
.tickets-listing .tickets-img .ticket-action .tag-text {
	width:36px;
	height:36px;
	border-radius:40px;
	border:4px solid #FFF;
}
.tickets-listing .tickets-img .ticket-action .tag-text i {
	font-size:14px;
	line-height:28px;
}
.tickets-listing .tickets-img .ticket-action .ticket-action-text {
	display:none;
}
.tickets-listing .tickets-info {
	position:relative;
}
@media (max-width:768px) {
	.tickets-listing .tickets-info {
		margin-top:20px;
	}	
}
.tickets-listing .tickets-info .product-title {
	font-size:18px;
	line-height:22px;
	margin-top: -4px;
	margin-bottom: 10px;
}
.tickets-listing .tickets-info .ticket-status {
	margin-bottom: 10px;
}
.tickets-listing .tickets-info > div {
	margin-left:-15px;
}
.tickets-listing .tickets-info p {
	margin-bottom: 10px;
	line-height: 18px;
	display:block;
}
.tickets-listing .tickets-toggle-wrapper {
	padding:50px 10px;
	text-align:center;
	height:110px;
	display:block;
	cursor:pointer;
	position:absolute;
	right:0px;
	z-index: 100;
}
@media (max-width:991px) {
	.tickets-listing .tickets-toggle {
		position: relative;
	}
	.tickets-listing .tickets-toggle-wrapper {
		padding:20px 10px;
		margin-top:30px;
		height:auto;
	}
}
.tickets-listing .tickets-details {
	display:none;
	margin-top:10px;
}
.tickets-listing .tickets-details .row {
	margin:0 -15px;
}
.tickets-listing .tickets-details .row label,
.tickets-listing .tickets-details .row span {
	display:block;
}
.tickets-listing .tickets-details .row span {
	margin-bottom:3px;
	line-height:1.3em;
}
@media (max-width:768px) {
	.tickets-listing .tickets-details .row label {
		margin-top:20px;
	}	
}
.tickets-listing .wpresidence_button {
	margin:10px 16px 10px 0;
	padding:0px;
	background-color:transparent !important;
}
.tickets-listing .wpresidence_button:hover,
.tickets-listing .wpresidence_button:active {
	background-color:transparent !important;
	text-decoration:none !important;
}	
.tickets-listing .wpresidence_button .fa-download {
	padding-top: 2px;
}
.tickets-listing .wpresidence_button .fa-refresh {
	padding: 0px;
}
.tickets-listing .wpresidence_button .text-disabled {
	color: #dbdbdb;
}
.tickets-listing .tickets-info .row-buttons {
	margin:0px -15px 10px -15px;
}
.tickets-listing .tickets-info .row-change-data-fields,
.tickets-listing .tickets-info .row-confirm-cancel {
	display:none;
	margin:10px -15px 10px -15px;
}
.tickets-listing .tickets-info .row-confirm-cancel .wpresidence_button {
	margin-top:0px;
}
.tickets-listing .tickets-info .row-change-data-fields .wpresidence_button {
	margin-top:20px;	
}
.tickets-listing .image-loader {
	position:absolute;
	top:0;
	left:0;
	background-color:#FFF;
	text-align:center;
	width:100%;
	height: 100%;
	height: -webkit-fill-available;
    opacity: 0.9;
	z-index:100;
	display:none;
}
.tickets-listing .image-loader img {
	margin:10px auto;
}
/* --- */






/* gestione dei tag per gli stati del biglietto */
.tag-text {
    color: white;
    padding: 0;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
    margin-bottom: -3px;
    font-size: 82%;
    line-height: 1.2;
    border-radius: 2px;
    white-space: nowrap;
}
.tag-round {
    border-radius: 20px;
    min-width: 14px;
    min-height: 14px;
}

.tag-color-available {
	background-color: #6aa84f;
}
.tag-color-assigned {
	/* background-color: #f6b26b; */
	background-color: #ffa500;
}
.tag-color-confirmed {
	background-color: #6fa8dc;
}
.tag-color-performed {
	background-color: #1155cc;
}
.tag-color-checked {
	background-color: #c27ba0;
}
.tag-color-payed {
	background-color: #674ea7;
}
.tag-color-expired {
	background-color: #cc0000;
}
.tag-color-action {
	background-color: #ebebeb;
	color: #909090;
}

.text-color-available {
	color: #6aa84f;
}
.text-color-assigned {
	/* color: #f6b26b; */
	color: #ffa500;
}
.text-color-confirmed {
	color: #6fa8dc;
}
.text-color-performed {
	color: #1155cc;
}
.text-color-checked {
	color: #c27ba0;
}
.text-color-payed {
	color: #674ea7;
}
.text-color-expired {
	color: #cc0000;
}
.text-color-action {
	color: #ebebeb;
}
/* --- */


/* user dashboard */
.dashboard_username {
	font-weight:300;
	font-size:28px;
}
.dashboard_menu_user_image {
	padding-top:20px;
	height:210px;
}
.dashboard_menu_user_image .menu_user_picture {
    margin-bottom: 10px;	
}


.dashboard-margin {
	background-color:#FFF !important;
	margin-top: 222px;
	border-top: 1px solid #212121;
}
.woocommerce-orders .dashboard-margin {
	margin-top: 246px;
}
.admin-bar .dashboard-margin {
	margin-top: 177px;
}
.admin-bar.woocommerce-orders .dashboard-margin {
	margin-top: 202px;
}

.info-container i {
	background-color: #167ac6;
}
.featured_div {
	color:#FFF;
}
.submit-price {
	font-size: 14px;
    color: #212121;
}
.buypackage {
	color:#FFF !important;
}
.buypackage input[type="checkbox"] {
	border:1px solid #FFF;
}





/* fix al menu con più livelli */
/* non voglio che esca a destra delle schermo... */
#access ul ul {
	right:0 !important;
	left:initial !important;
	width:300px !important;
}
.sub-menu li:hover {
	background-color:#FFF !important;
}
#access ul ul a:hover {
	color:#212121 !important;
	text-decoration: none !important;
}
#access ul ul a i,
#access ul ul a i:hover {
	color:#fe0f00 !important;
	font-size:20px;
	margin-right:40px;
}
#menu-main-menu > li > a:hover i {
	color:#a0a0a0 !important
}
/* --- */




/* pagina profilo singolo agente */
.agent-listing-img-wrapper {
	cursor: initial;
}
.agent-listing-img-wrapper .agent-image-cover {
	width:152px;
	height:152px;
	max-width:100%;
	border-radius:152px;
	margin:auto;
	margin-bottom:0px;
	float:none;
	display:block;	
	text-align:center !important;
	background-size:cover;
    background-position:50% 50%;
	cursor: initial;
}
@media (max-width:768px) {
	.agent-listing-img-wrapper .agent-image-cover {
		width:100px;
		height:100px;
		margin-left:0;
		margin-bottom:20px;
	}
}

.agent-listing-img-wrapper .agent-image-cover-list {
	width:152px;
	height:152px;
	max-width:100%;
	border-radius:152px;
	margin:auto;
	margin-bottom:0px;
	float:none;
	display:block;
	text-align:center !important;
	background-size:cover;
	background-position:50% 50%;
	cursor: pointer;
}
@media (max-width:768px) {
	.agent-listing-img-wrapper .agent-image-cover-list {
		width:100px;
		height:100px;
		margin-left:0;
		margin-bottom:20px;
	}
}



.agent_details h1,
.agent_details h1 a {
	font-size:32px;
	font-weight:300;
}
.agent_position {
	margin-left:0;
	font-size: 16px;
	font-weight:300;
	line-height:20px;
}
.container_agent {
	width:100%;
}
#content_container .container_agent,
.property_reviews_wrapper,
#primary .widget-container {
	box-shadow:none;
}
.mylistings.agent_listing.agency_listings_title.single_listing_block {
    margin-bottom: 60px !important;
}
.single-estate_agent .developer_taxonomy a:hover {
	color: #fff !important;
}

.single-estate_agent .agent_content {
	margin-top:30px !important;
}



/* add page */
.page-template-front_property_submit .navigation_container a {
	color:#212121 !important;
}
#front_submit_prev_step {	
	background-color: #ebebeb !important;
    color: #909090 !important;
	text-decoration:none !important;
}
@media only screen and (max-width: 640px) {
	.page-template-front_property_submit .navigation_container a {
		width:20%;
		text-align: center;
	}
}
/* --- */



/* area di ricerca in top position */
#search_wrapper.search_wr_10 {
	z-index:200;
	margin-top: 0px !important;
	padding: 8px 0 0 0 !important;
    max-width: 580px;
    margin-left: 140px;	
}

#search_wrapper.search_wr_10 .col-md-2 {
	width:inherit !important;
}
/* --- */



/* pagina singolo prodotto / biglietto woocommerce */
.iklvb-product-single {
	padding-top:50px;
}
.woocommerce div.product div.summary,
.woocommerce-page div.product div.summary {
	float:none;
	width: 100%;
	text-align: center;
    margin: 0 auto;
}
.woocommerce div.product .product_title {
	float:none;
	text-align:center;
}
.woocommerce div.product div.images,
.woocommerce-page div.product div.images {
	float: none;
    max-width: 600px;
    margin: 0 auto 20px auto;
}
.woocommerce div.product form.cart {
	margin: 30px auto;
    text-align: center;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	display: inline;
	margin-right:10px;
	color: #212121;
}
.woocommerce div.product p.stock {
	display: inline;
	color: #212121;
}
.woocommerce div.product form.cart div.quantity {
	float:none;
	display:inline;
}
.woocommerce div.product form.cart .button {
	float:none;	
	vertical-align: initial;
	height:40px;
	background-color:#167ac6;
}
.woocommerce div.product form.cart .button:hover,
.woocommerce div.product form.cart .button:active {
	background-color:#126db3;
}
.woocommerce-product-details__short-description {
	background-color: #FFF;
    padding: 15px;
}
.woocommerce-product-details__short-description h1 {
	font-size:26px;
}
.woocommerce-product-details__short-description h2 {
	font-size:24px;
}
.woocommerce-product-details__short-description h3 {
	font-size:22px;
}
.woocommerce-product-details__short-description p {
	font-size:17px;
	line-height: 30px;
}
.woocommerce div.product .product_meta {
    text-align: center;
    padding-top: 50px;
    float: none;
}
.woocommerce-product-gallery figure {
	display:inline-block;
	margin:5px !important;
}
.woocommerce-product-gallery .user-image-cover-product {
	width:120px;
	height:120px;	
	border-radius:0px;
	margin:auto;
	margin-bottom:0px;
	float:none;
	display:block;	
	text-align:center !important;
	background-size:cover;
    background-position:50% 50%;
	border: 1px solid #e6e6e6;
}
.woocommerce-product-gallery .product-thumbnail,
.woocommerce div.product div.images img {
	width:120px !important;
	border: 1px solid #e6e6e6;
}
.woocommerce div.product form.cart div.quantity {
	vertical-align:top;
}
.woocommerce .quantity .qty {
	height: 42px;
}
.woocommerce div.product p.stock {
	display:none;
}
.woocommerce div.product form.cart .button {
	font-weight: 500;
}
/* --- */



/* personalizzazione form reviews	*/
/* il cliente non vuole il titolo	*/
/* e non vuole i commenti			*/
#wpestate_review_title {
	display:none;
}
.review-title {
	display:none;	
}
.reviwer-name {
	float:none !important;	
	color:#212121;
	margin-top:0;
}
.property_ratings {
	float:none !important;
	padding-left: 75px !important;
}
.review-date {
	position:relative !important;
	float: none !important;
	padding-left: 75px !important;
	margin-top: 0 !important;
}
.review-content {
	padding-left: 75px !important;	
}
#comments {
	display:none;
}


/* 2019-08-20 Lorenzo M. 
/* FIX allineamento bandiere in Main Menu */
@media (min-width:1024px) {
	#menu-main-menu > .wpml-ls-menu-item > a > .wpml-ls-flag {
		display: inline-block;
		margin-top: 24px;
	}
}
/* FIX font color in Mobile Menu */
.mobilex-menu li a {
    color: #212121 !important;
}
/* FIX border bottom in Mobile Menu */
.mobilex-menu .sub-menu {
    border-top: 1px solid #e6e6e6;
}
/* FIX disable link from current language flag */
#menu-main-menu > .wpml-ls-menu-item > a {
    pointer-events: none;
}
/* --- */




/* FIX per form CF7 */
.wpcf7 label {
	display:block;
}
.wpcf7 select {
	width:100%;
}
.wpcf7 input,
.wpcf7 select,
.wpcf7 textarea {
	border: 1px solid #CCCCCC !important;
}
.wpcf7 input:hover,
.wpcf7 select:hover,
.wpcf7 textarea:hover {
	border-color:#A0A0A0 !important;
}
.wpcf7 input:focus,
.wpcf7 select:focus,
.wpcf7 textarea:focus {
	border-color:#167ac6 !important;
	box-shadow: #167ac6 0px 0px 5px 0px !important;
}
.single-content .wpcf7 input[type="submit"] {
	background-color:#167ac6 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
	color:#FFF !important;
	border-radius:2px !important;
}
.single-content .wpcf7 input[type="submit"]:hover {
	background-color:#126db3 !important;
	color:#FFF !important;
	text-decoration:none !important;
}

/*fix home page MB*/
.property_listing_details {
    color: #3a4659;
	float:right;
	width:auto;
    margin-bottom: 0 !important;
}
.listing_unit_price_wrapper {
	width:auto;	
}
.property_listing a {
    text-decoration: none;
    font-weight: bold;
}
.property_listing_details,.listing_unit_price_wrapper{
	padding: 0 5px 0 13px !important;
}
.listing_details {
	margin-bottom: 10px;
	font-weight:400;
}
 .property_listing,.listing_details{	
	min-height: 65px;
}
.property_listing a.litlink{
    font-weight: 400;
    margin-left: 5px;
}
.property_visitors_home{
	line-height: 30px;
}
.imagehomeuser{
	width: 40px;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
}
.property_location,.property_agent_wrapper_up {
	width:90%;
	float:left;
}

.property_listing{
	height:450px;		
	
}
/*
.property_listing_details {
    color: #3a4659;

    margin-bottom: 0;
}


.listing_details {
	margin-bottom: 10px;
	font-weight:400;
}
.listing_wrapper .property_listing{	
	min-height: 520px;
}

.property_listing_details{
	padding: 0 5px 0 13px !important;
}*/
/* debug fix */
pre.debug {
	display: inline-block;
}

/* debug
div,
.content_wrapper {
	border:1px solid red;
}
/* --- */

/* debug 
table th, 
table td {
	border:1px solid red !important;
}
/* --- */

.titleTable{
	background-color:#f5f9f8;
	padding:10px;
	margin-bottom:10px;	
	z-index: 100;
}
.row_dasboard-prop-listing .row{
	background-color:#fafafa;
	
}
.tickets-details{
	background-color:#f6f6f6;
	
}
.ticket-amount{
	color:#0f9d58;	
}
.img48{
	width:48px !important;
	height:48px !important;
	
}
.row  .tickets-date{
	height:10px;
	
}
