
/* 2018 Lorenzo M. */

/* regole per fix checkbox in admin pages */
input[type=checkbox]:checked:before {
	margin: -3px 0 0 -4px !important;
    color: #1e8cbe !important;
}


/* gestione dei tag per gli stati del biglietto */
.tag-text {
    color: white;
    padding: 0;
    min-width: 16px;
    min-height: 16px;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
    margin-bottom: -3px;
    font-size: 82%;
    line-height: 1.2;
    border-radius: 2px;
    white-space: nowrap;
}
.tag-round {
    border-radius: 20px;
    min-width: 14px;
    min-height: 14px;
}
.tag-color-available {
	background-color: #6aa84f;
}
.tag-color-assigned {
	background-color: #f6b26b;
}
.tag-color-confirmed {
	background-color: #6fa8dc;
}
.tag-color-performed {
	background-color: #1155cc;
}
.tag-color-checked {
	background-color: #c27ba0;
}
.tag-color-payed {
	background-color: #674ea7;
}
.tag-color-expired {
	background-color: #cc0000;
}
/* --- */




/* regole per pagina Voucher Codes */
.wp-list-table table {
	width:100%;
}
.wp-list-table .column-ticket_info {
	width:20%;
}
.wp-list-table .ticket_info.column-ticket_info td {
	padding:0;
}
/* --- */


/* regole per edit custom post type email templates */
.post-type-email-message #post_name {
	width:80%;
}