
@media only screen and (max-width: 991px) and (min-width: 1600px){  
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing-unit-img-wrapper, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type2 .carousel-inner {
        max-width: 346px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 h4{
        margin-top: 12px;
        padding-left: 365px;
        padding-right: 10px;
    }
      
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_unit_price_wrapper, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details.the_list_view, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_listing_details,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details{
        padding-left: 365px;
        padding-right: 10px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details .inforoom_unit_type2, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details .infobath_unit_type2, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details .infosize_unit_type2, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details .infogarage_unit_type2{
        margin-right: 10px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_location {
        margin: 0px 0px 0px 346px;
        padding-top: 0px;
        padding-bottom: 0px;
    }  
}



@media only screen and (max-width: 1600px) and (min-width: 992px){     
    .lightbox_property_wrapper_level2{
        max-width:95%;
        height: auto;
    }
    .lightbox_property_wrapper_level2.lightbox_wrapped_no_contact {
        max-width:75%;
        height: auto;
    }
   
}

@media only screen and (max-width: 1330px) and (min-width: 992px){
    .col-md-12.user_profile_div {
        width: 670px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 992px){       

    #listing_ajax_container_agent, 
    #listing_ajax_container {
        margin: 0px -15px;
        float: none;
        width: auto;
        min-width: 100%;
    }
    
    #list_view,
    #grid_view{
     display:none;
    }
    
    #google_map_prop_list_sidebar .adv-search-1{
        width: 100%!important;
        margin-left: 0px!important;
    }
    
    #google_map_prop_list_sidebar  .adv_search_slider {
        width:100%;
    }
    
    .adv_search_slider {
        width: 370px;
    }
    
}

@media only screen and (max-width: 1360px){

     #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing .listing_unit_price_wrapper {
        padding-left: 20px;
        display: inline-block;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .listing_unit_price_wrapper{
        padding: 0px 5px;
        display: inline-block;
        width: auto;
    } 
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .property_listing_details{
        width: auto;
        padding-left: 0px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing_details {
        padding-left: 20px;
        padding-left: 20px;
        display: inline-block;
        width: 100%;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_location {
        left: 0px;
    }
    
    .has_4per_row.listing_wrapper.col-md-12.property_unit_type4 .property_listing h4 {
        margin-top: 15px;
        padding-left: 277px!important;
    }
    .listing_wrapper.col-md-12 .property_listing .listing_details,
    .has_4per_row.listing_wrapper.col-md-12 .property_listing h4 {
        padding-left: 347px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 h4{
        padding-left: 337px;
    }
 
    .listing_wrapper.col-md-12 .property_listing.property_unit_type1 .property_location {
        margin-left: 336px;
    }
    
    .listing_wrapper.col-md-12 .property_listing.property_unit_type1.property_listing h4{
        margin: 15px 0px 10px 0px;
        margin-left: 348px;
        padding:0px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type1.property_listing h4{
        margin-left: 0px;
    }
    
     #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type1 .listing_unit_price_wrapper {
        padding-left: 0px;
    }
    
    .has_header_type4 .adv-search-1 {
        width: 1000px;
    }
    
    .has_header_type4 .search_wr_3#search_wrapper {
        width: 100%;
        max-width: 1000px;
    }
   
}

@media only screen and (max-width: 1400px) and (min-width: 992px){
    
    .has_header_type4 .adv-search-1,
    .has_header_type4 .transparent-wrapper,
     .has_header_type4 .search_wr_3#search_wrapper {
        width: 1070px;
    }
    
    .has_header_type4 .adv1-holder {
        width: 885px;
    }
 
    .has_header_type4 .adv-search-3 {
        right: 45px;
    }
    
    .has_header_type4 .adv-search-1#adv-search-8 .extended_search_check_wrapper, 
    .has_header_type4 .adv-search-1#adv-search-8 .adv_extended_options_text {
        padding-left: 10px;
        margin-left: 0px;
    }
    
    .has_header_type4 .adv-search-1#adv-search-8 #adv_extended_close_adv {
        right: 10px;
    }
    
    .has_header_type4 .adv-search-1 .extended_search_check_wrapper, 
    .has_header_type4 .adv-search-1 .adv_extended_options_text {
        margin-left: 0px;
        padding-left: 10px;
    }
    
    .has_header_type4 #results {
        width: 835px;
    }
    
    .has_header_type4 .adv-search-3 #results {
        width: 100%;
    }
}


@media only screen and (max-width: 991px){
    .has_top_bar .has_header_type5 #google_map_prop_list_wrapper, 
    .has_top_bar .has_header_type5 #google_map_prop_list_sidebar {
        margin-top: 90px;
    }
   
    .admin-bar .has_header_type4 #google_map_prop_list_wrapper #gmap-control {
        right: auto;
        left:15px;
    } 
    
    .has_header_type2 #google_map_prop_list_wrapper, 
    .has_header_type2 #google_map_prop_list_sidebar {
        top: 0px;
        margin-top: 27px;
    }
    
    .has_top_bar .has_header_type2 #google_map_prop_list_wrapper, 
    .has_top_bar .has_header_type2 #google_map_prop_list_sidebar {
        top: 127px;
    }    
    
    .admin-bar.has_top_bar .has_header_type2 #google_map_prop_list_wrapper, 
    .admin-bar.has_top_bar .has_header_type2 #google_map_prop_list_sidebar {
        top: 134px;
    }
    
    .admin-bar .has_header_type3 #google_map_prop_list_wrapper, 
    .admin-bar .has_header_type3 #google_map_prop_list_sidebar {
        top: 0px;
        margin-top: 124px;
    }
    .admin-bar.has_top_bar .has_header_type3 #google_map_prop_list_wrapper, 
    .admin-bar.has_top_bar .has_header_type3 #google_map_prop_list_sidebar{
        top: 0px;
        margin-top: 164px;  
    }
    
    .has_top_bar .has_header_type3 #google_map_prop_list_wrapper, 
    .has_top_bar .has_header_type3 #google_map_prop_list_sidebar {
        top: 0px;
        margin-top: 131px;
    }    
   
    #openmap{
        bottom: -1px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    
    #pick_pack{
        background-position: 0px 0px;
    }

    #google_map_prop_list_wrapper{
        width: 50%; 
        top: 112px;
    }
    
    .has_header_type4 #google_map_prop_list_wrapper {
        padding-left:0px; 
    }

    #google_map_prop_list_sidebar{
        width: 50%;
        top: 112px;
    } 
 
    .admin-bar #google_map_prop_list_wrapper, .admin-bar #google_map_prop_list_sidebar {
        margin-top: 104px;
    }
    
    .admin-bar .has_header_type1 #google_map_prop_list_wrapper, 
    .admin-bar .has_header_type1 #google_map_prop_list_sidebar {
        margin-top: 32px;
    }
    .admin-bar.has_top_bar  .has_header_type1 #google_map_prop_list_wrapper, 
    .admin-bar.has_top_bar  .has_header_type1 #google_map_prop_list_sidebar {
        margin-top: 52px;
    }
    
    .has_top_bar .has_header_type1 #google_map_prop_list_wrapper, 
    .has_top_bar .has_header_type1 #google_map_prop_list_sidebar {
        margin-top: 21px;
    }
    
    .has_top_bar .has_header_type4 .header_media {
        padding-top: 41px;
    }
    
    .admin-bar .has_header_type4 .header_media {
        margin-top: 0px;
        padding-top: 0px;
    }
    
    .has_header_type4 .header_media {
        padding-top: 71px;
        margin-top: 0px;
    }
    
    .admin-bar .has_header_type4 #google_map_prop_list_wrapper.half_no_top_bar, 
    .admin-bar .has_header_type4 #google_map_prop_list_sidebar.half_no_top_bar {
        top: 0px;
    }
    
    .has_header_type4 #google_map_prop_list_wrapper.half_no_top_bar, 
    .has_header_type4 #google_map_prop_list_sidebar.half_no_top_bar {
        top: 71px;
    }
}

@media only screen and (max-width: 991px){
    
    .listing_wrapper.col-md-12.property_unit_type4 > .property_listing {
        padding-bottom: 0px!important;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type4 .listing_details.the_list_view,
    .listing_wrapper.col-md-12.property_unit_type4 .property_listing_details,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type4 .listing_details{
        display: none!important;
    }
    
    .listing_wrapper.col-md-12 .propery_price4_grid,
    .listing_wrapper.col-md-12 .property_listing_details4_grid_view {
        display: block;
    }
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .property_agent_image, 
    .page-template-property_list_half .col-md-12.has_prop_slider.property_unit_type4 .property_agent_image {
        display: block!important;
    }
    
    .lightbox_floor_details,     
    .page-template-user_dashboard_add .profile-page.row .col-md-12:last-of-type .col-md-3,
    .lightbox_property_sidebar,
    #google_map_prop_list_wrapper #map-view,
    .col-md-9.col-md-push-3.rightmargin .has_4per_row.listing_wrapper.col-md-12.property_unit_type4 .listing_details.half_map_list_view, 
    .col-md-9.col-md-push-3.rightmargin .listing_wrapper.col-md-12.property_unit_type4 .listing_details.half_map_list_view,
    .listing_wrapper.col-md-12.property_unit_type4 .property_address_type4 {
        display: none;
    }
    
    #google_map_prop_list_sidebar .col-md-9 .listing_wrapper.col-md-12.property_unit_type4,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4{
        width: 100%!important;
        float: none!important;
        margin: 0px auto;
        max-width: 525px;
    }
     
    .col-md-9 .listing_wrapper.col-md-12.property_unit_type4,
    .listing_wrapper.col-md-12.property_unit_type4{
        width: 50%!important;
        float: left;
        padding: 0px 15px
    }
    
    .listing_wrapper.col-md-12.property_unit_type4 .listing-unit-img-wrapper, 
    .listing_wrapper.col-md-12.property_unit_type4 > .property_listing .carousel-inner {
        max-width: 100%!important;
        width: auto;
        margin-right: 15px!important;
        min-height: 170px;
    }
    
    .listing_wrapper.col-md-12.property_unit_type4 > .property_listing .carousel-inner{
        margin-right: 0px!important;
    }
    
    .listing_wrapper.col-md-12.property_unit_type4 .property_agent_wrapper {
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 10px 20px;
        border-left: 1px solid #dde4e9;
        height: 60px;
        line-height: normal;
        width: auto;
    }
    
    .listing_wrapper.col-md-12 .property_agent_unit_type4 {
        border-top: 1px solid #dde4e9;
    }

    .listing_wrapper.col-md-12.property_unit_type4 .property_agent_image {
        width: 40px;
        height: 40px;
        float: right;
        background-size: cover;
        margin-right: 0px;
        border-radius: 0;
    }
    .listing_wrapper.col-md-12.property_unit_type4 .property_listing h4,
    .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type4 h4 {
        font-weight: 600;
        padding: 0px 15px;
        margin-top: 6px;
        float: left;
    }
    
    .wpestate_header_video_overlay {
        pointer-events: none;
    }

    #google_map_prop_list_wrapper #gmap-next i,
    #google_map_prop_list_wrapper #gmap-prev i {
        padding-top: 1px;
        padding-left: 2px;
    }
    
    #google_map_prop_list_wrapper #gmap-control i {
        font-size: 15px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        margin: 0px;
        text-align: center;
        background-color: #fff;
    }
    
    #google_map_prop_list_wrapper #gmap-control span {
        font-size: 0px;
        height: 30px;
        padding: 0px;
        margin-left: 1px;
    }
    
    #google_map_prop_list_wrapper #gmap-control span i:hover{
        background-color: #3a4659;
    }
    
    #google_map_prop_list_wrapper #google-default-search {
        right: 15px;
        top: 46px!important;
        width: 180px;
        opacity: 0.92;
        height: 30px;
        padding: 0px;
        line-height: 30px;
        padding-left: 10px;
    }

    #google_map_prop_list_wrapper #gmap-control {
        border-radius: 0px;
        opacity: 0.92;
        height: 30px;
        background-color: transparent;
    }
        
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_location_unit_type3 {
        margin-left: 326px;
    }
    
    .featured_article_type2_title_wrapper {
        width: 100%;
        padding: 0px 15px;
    }
    
    .featured_article_type2 h2{
        width: 100%;
    }
    
    .featured_article_type2 {
        height: 350px;
    }
    
    .estate_places_slider button.slick-prev.slick-arrow, 
    .estate_places_slider button.slick-next.slick-arrow {
        width: 27px;
        height: 27px;
    }
    
    .estate_places_slider button.slick-prev.slick-arrow{
        left: -11px;
    }
    
    .estate_places_slider button.slick-prev.slick-arrow:before,   
    .estate_places_slider button.slick-next.slick-arrow:before {
        font-size: 10px;
        line-height: 28px;
    }

    .estate_places_slider button.slick-next.slick-arrow {
        right:-11px;
    }
    
    .page-template-property_list_directory .widget-area-sidebar {
        min-height: auto;
    }
    
    .agency_contact_container{
        width: 100%;
        padding: 0px 15px;
    }
    
    .header_agency_container {
        margin-bottom: 15px;
        width: 100%;
    }
    
    .mylistings.agent_listing.agency_listings_title.single_listing_block {
        margin: 0px;
    }
    
    .single-estate_developer .property_reviews_wrapper,
    .agency_listings_title,
    .agency_agents_wrapper{
        margin: 0px -15px;
    }

    
    .header_agency_container img {
        margin-bottom: 20px;
        max-height: 200px;
    }
    
    .agency_contact_class {
        float: left;
        padding: 10px 0px;
    }
    
    #agency_contact,
    .single-agent {
        padding: 0px;
    }
    
    .col-md-12.message_explaining {
        margin-top: 5px;
    }
   
    .header_type5 #access {
        padding-left: 40px;
        margin-left: 0px;
    }

    .header_type5.header_right #access {
        margin-right: 0px;
        padding-right: 30px;
        padding-left: 0px;
    }

    .has_header_type4 .adv1-holder,
    .with_search_on_start.without_search_form_float .adv1-holder, 
    .with_search_on_end.without_search_form_float .adv1-holder {
        width: 810px;
    }
    
    #search_wrapper.with_search_form_float,
    #search_wrapper.search_wr_10 .adv-search-1,
    .has_header_type4 #search_wrapper.with_search_form_float{
        width: 1010px;
    }
    
    #search_wrapper.search_wr_11  .col-md-2,
    #search_wrapper.search_wr_10 .col-md-2 {
        width: 20%;
    }
    
    #search_wrapper.search_wr_10 .col-md-8 {
        width: 60%;
    }

    #search_wrapper.search_wr_11 .col-md-6 {
        width: 40%;
    }

    .parallax_effect_yes {
        background-attachment: initial;
    }
    
    .header5_top_row,
    .header5_bottom_row {
        width: 100%;
    }

    .header_media{
        padding-top:0px;   
    }
    
    .testimonial-slider-container.container_type_3 .slick-prev.slick-arrow {
        left: -20px;
    }
    
    .testimonial-slider-container.container_type_3 .slick-next.slick-arrow {
        right: -11px;
    }
    
    .testimonial-slider-container .testimonial-container.type_class_3 {
        margin: 0px 26px;
    }

    .lightbox_property_wrapper_floorplans .lightbox_property_wrapper_level2 {
        height: auto;
        width: 95%;
    }
    
    .lightbox_property_wrapper_floorplans .owl-buttons {
        width: 100%;
    }
    
    .lightbox_property_wrapper_floorplans .owl-carousel .owl-item .item {
        padding: 0px; 
    }
    
    .col-md-12.top_dahsboard_wrapper.dashboard_package_row {
        height: 100%;
        float: left;
        padding: 0px 15px;
    }
    
    .lightbox_property_wrapper_floorplans .owl-carousel .owl-item .item .itemimage{
        width:100%;
    }
     
    .single-estate_property .content_wrapper,
    .single-estate_agent .content_wrapper,
    .single-post .content_wrapper,
    .archive .content_wrapper,
    .page .content_wrapper{
        padding:0px;
    }
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    .article_container .shortcode_title{
        padding-left: 13px;
    }
    
    .lightbox_property_slider{
        max-width: 100%;
        width:100%;
    }
    
    .lightbox_property_wrapper_level2 {
        height:auto;
    }
    
    #google_map_prop_list_sidebar  .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_agent_wrapper {
        padding-left: 20px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_listing_details{
        float:left;
    }
    
    #google_map_prop_list_sidebar .has_4per_row.listing_wrapper .property_listing.property_unit_type2 .listing_unit_price_wrapper{
        float:left;
        margin-left: 13px;
        width:100%;
        padding:0px;
    }
    .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_unit_price_wrapper{
        margin-left: 0px;
        padding-left: 415px;
    }
    
    .property_listing.property_unit_type1 .property_location{
        padding: 0px 20px;
    }
    
    .shortcode_slider_list .shortcode-col.listing_wrapper.has_4per_row ,
    .shortcode_slider_list .shortcode-col.listing_wrapper.has_4per_row .property_listing {
        min-width: auto;    
    }
    
    .shortcode_slider_list .shortcode-col.listing_wrapper.has_4per_row {
        max-width: 100%;
    }

    .fancybox-next span {
        right: 3px!important;
    }

    .has_header_type4.cheader_right #google_map_prop_list_wrapper {
        margin-left: 0px;
    }

    .has_header_type4.cheader_right #google_map_prop_list_sidebar {
        right: 0px;
    }    
    
    .featured_property.featured_property_type3 .featured_secondline .property_listing_details .inforoom ,
    .featured_property.featured_property_type3 .featured_secondline .property_listing_details .infobath {
        margin-right: 7px;
    }
    
    .slider-content-wrapper{
        bottom: 30.5%;
    }
    
    .has_top_bar .has_header_type4 #google_map_prop_list_wrapper, 
    .has_top_bar .has_header_type4 #google_map_prop_list_sidebar {
        top: 112px;
    }
    
    .admin-bar.has_top_bar .has_header_type4 #google_map_prop_list_wrapper, 
    .admin-bar.has_top_bar .has_header_type4 #google_map_prop_list_sidebar {
        top: 41px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_categories_type1_wrapper, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_details_type1_wrapper {
        float: none;
        margin-left: 0px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_address_type1_wrapper{
        margin-left: 0px;
        margin-left: 0px;
        float: left;
        width: 100%;
    }
    
    .change_pass{
        padding: 0px 0px;
    }
    
    .col-md-9.dashboard-margin .pagination {
        padding-left: 30px;
    }

    .page-template-user_dashboard_add .profile-page.row .col-md-12:last-of-type .col-md-9 .submit_form_row{
        margin-left: 0px;
    }

}

@media only screen and (max-width: 991px){
    .col-md-9.rightmargin, 
    .single_width_blog, 
    .full_width_prop{
        width: 100%;
        left: 0px;
    }
    
    .submit_form_row{
        margin-left: 0px; 
    }

    #search_wrapper_color {
        display: none;
    }
    
    .admin-bar .has_header_type5 .header_media,
    .has_header_type5 .header_media{
        padding-top: 0px;
    }

    .admin-bar.has_top_bar .master_header,
    .admin-bar .master_header {
       top: 0px;
    }

    .admin-bar.has_top_bar .has_header_type5 .header_media,
    .has_top_bar .has_header_type5 .header_media {
        margin-top: 0px;
        padding-top: 0px;
    }

    #wp-login-but-mobile,
    #wp-submit-register_mobile {
        margin-bottom: 10px;
        width: 100%;
    }

    #forgot-pass-div {
        padding: 9px 13px 13px 13px;
    }
    
    #forgot-div-title-mobile {
        margin-bottom: 13px;
    }      

    .submit_mandatory {
        padding-left: 10px;
    }
    
    .user_profile_div{
        margin-left:10px;
    }

    .admin-bar.has_top_bar .has_header_type1 .dashboard-margin,
    .admin-bar .has_header_type1 .dashboard-margin,
    .has_top_bar .has_header_type1 .dashboard-margin,
    .has_header_type1 .dashboard-margin,
    .admin-bar .has_header_type1 .dashboard-margin{
        top: 0px!important;
    }
    
    .dashboard-margin .search_unit_wrapper {
        cursor: default;
        margin: 0px 10px 0px 10px;
    }
    
    #carousel-listing.post-carusel .item{
        height:auto;
    }
    
    #primary{
        width:100%!important; 
    }  
    
    .page-template-property_list_directory .widget-area-sidebar{
        width: 100%!important;
        padding: 0px!important;
    }
  
    #calendar_wrap,
    .mortgage_calculator_li,
    .loginwd_sidebar,
    #slider_price_widget {
        max-width: 100%;
    }
    
    .widget_calendar,
    .facebook_widget_like,
    .widget_search .form-control,
    #submit-form,
    #list_sidebar_curr{
        width:100%;
    }
    
    .widget-container.multiple_currency_widget,
    .widget-container.measurement_unit_widget{
        width:50%;
    }
    
    #primary .widget-container.multiple_currency_widget,
    #primary .widget-container.measurement_unit_widget,
    #colophon .widget-container.multiple_currency_widget,
    #colophon .widget-container.measurement_unit_widget{
        width:50%;
    }
    .facebook_widget_like iframe ._2p3a,
    .facebook_widget_like iframe{
        max-width: 100%!important;
        width: 100%!important;
    }
    
    #submit-form{
        margin-top: 10px;
    }
    .carouselvertical {
        height: 325px!important;
    }
    
    .header_type2 #access,
    .header_type3 #access,
    #access{
        display:none;
    }
    
    .top_bar_wrapper.topbar_show_mobile_no,
    .header_wrapper{
        display:none;
    }
    
    .mobile_header{
        display:block;
    }  
    
    .admin-bar #google_map_prop_list_sidebar.half_type4, 
    .admin-bar #google_map_prop_list_wrapper.half_type4,
    .admin-bar #google_map_prop_list_sidebar.half_type3, 
    .admin-bar #google_map_prop_list_sidebar.half_type2, 
    .admin-bar #google_map_prop_list_wrapper.half_type2,
    .admin-bar #google_map_prop_list_sidebar.half_type1, 
    .admin-bar #google_map_prop_list_wrapper.half_type1,
    .admin-bar #google_map_prop_list_wrapper.half_type3 {
        margin-top: 0px;
    }

    .admin-bar .has_header_type1 .header_media,
    .admin-bar.has_top_bar .has_header_type1.header_transparent .header_media,
    .admin-bar.has_top_bar .has_header_type2.header_transparent .header_media,
    .admin-bar.has_top_bar .has_header_type3.header_transparent .header_media,
    .admin-bar.has_top_bar .has_header_type3 .header_media,
    .has_top_bar .has_header_type3.header_transparent .header_media,
    .has_top_bar .has_header_type3 .header_media,
    .has_header_type3 .header_media ,
    .admin-bar.has_top_bar .has_header_type2 .header_media,
    .has_top_bar .has_header_type2.header_transparent .header_media,
    .has_top_bar .has_header_type2 .header_media,
    .has_header_type2 .header_media ,
    .admin-bar.has_top_bar .has_header_type1 .header_media,
    .has_top_bar .has_header_type1.header_transparent .header_media,
    .has_top_bar .has_header_type1 .header_media,
    .has_header_type1 .header_media {
        padding-top: 0px!important;
        float: left;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    
    .admin-bar.has_top_bar .has_header_type3 .header_media, 
    .has_top_bar .has_header_type3 .header_media {
        padding-top: 0px;
        margin-top: 0px;
    }

    .header_media:empty{
        height: 0px;
    }
        
    .top_bar .multiple_currency_widget, 
    .top_bar .measurement_unit_widget {
        display: inline-block;
        float: none;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .master_header {
        position: relative;
        float: left;
        top: auto;
        height: auto;
    }
    .admin-bar .master_header{
        top:auto;
    }
    
    .website-wrapper{
        overflow-x:hidden;
    }
    
    .logo{
        display:none;
    }
    
   .user_menu {
        margin: 0px auto!important;
        margin-top: 15px;
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .container {
        float:left;
    }
     
    .col-md-9 .article_container {
        min-width: 100%;
    }
      
    #advanced_submit_shorcode { 
        width: 100%;
    }
    #login_widget-1 #wp-submit-register_wd {
       margin-bottom: 13px!important;
    }
    
    #wp-submit-register_wd {
        margin-bottom: 13px!important;
    }
    
    .wpresidence_button {
        margin-bottom: 0px;
    }
   
    .featured_property_type2 .agent_face {
        height: 50px;
        width: 50px;
   }
   
   .featured_property_type2 h2 a, .featured_property_type2 h2 {
        color: #ffffff;
        font-size: 17px;
        line-height: 1.7em;
        left: 35px;
        bottom: 24px;
    }
    
    .featured_property_type2 .sale_line {
        left: 70px;
        bottom: 30px;
        font-size: 14px;
        line-height: 1.4em;
    }
    
    .featured_property_type2 .featured_prop_price {
        left: 70px;
        font-size: 15px;
        line-height: 1.5em;
        bottom: 11px;
    }
    
    .featured_property_type2{
        margin-bottom: 0px!important;
    }
    
    .has_header_type4 .header_media {
        margin-top: 70px;
    }
    
    .has_header_type4 #google_map_prop_list_wrapper.half_no_top_bar,
    .has_header_type4 #google_map_prop_list_sidebar.half_no_top_bar {
        top: 87px;
    }
    
    /**/
    
    .row.row_user_dashboard {
        margin-top: 0px;
    }
    
    .submit_container {
        padding: 0px 10px 13px 10px;
        float: none;
    }
    
    .col-md-12.row_dasboard-prop-listing {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .dashboard-margin .entry-title,
    .col-md-9.dashboard-margin .pagination {
        padding-left: 10px;
        float: none;
    }
    
    #search_dashboard_auto{
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .col-md-8.dashboard_password .col-md-12,
    .col-md-8.dashboard_password .col-md-6{
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .has_top_bar .page-template-user_dashboard_showing .container,
    .has_top_bar .page-template-user_dashboard_inbox .container,
    .has_top_bar .page-template-user_dashboard_add_agent .container,
    .has_top_bar .page-template-user_dashboard_agent_list .container,
    .has_top_bar .page-template-user_dashboard_search_result .container,
    .has_top_bar .page-template-user_dashboard_floor .container,
    .has_top_bar .page-template-user_dashboard_invoices .container,
    .has_top_bar .page-template-user_dashboard_searches .container,
    .has_top_bar .page-template-user_dashboard_favorite .container,
    .has_top_bar .page-template-user_dashboard_add .container,
    .has_top_bar .page-template-user_dashboard .container,
    .has_top_bar .page-template-user_dashboard_profile .container {
        float: none;
    }
    
    .page-template-user_dashboard_showing .container, 
    .page-template-user_dashboard_inbox .container, 
    .page-template-user_dashboard_add_agent .container, 
    .page-template-user_dashboard_agent_list .container, 
    .page-template-user_dashboard_search_result .container, 
    .page-template-user_dashboard_floor .container, 
    .page-template-user_dashboard_invoices .container, 
    .page-template-user_dashboard_searches .container,
    .page-template-user_dashboard_favorite .container, 
    .page-template-user_dashboard_add .container, 
    .page-template-user_dashboard .container, 
    .page-template-user_dashboard_profile .container {
        float: left;
    }
    
    .pack_description,
    .pack_description_row{
        width: 100%;
    }

    .col-md-12.user_profile_div {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        padding: 0px 15px;
    }
    
    .col-md-12.user_profile_div .agent_unit,
    .col-md-12.user_profile_div .property_listing{
        margin: 0px 15px;
    }
    
    .page-template-user_dashboard_favorite .listing_wrapper.property_unit_type4,
    .page-template-user_dashboard_favorite .listing_wrapper.property_unit_type3 {
        width: 50%;
        margin-bottom: 30px;
    }
    
}

@media only screen and  (max-width: 1600px) and (min-width: 992px){
    
    .full_width_header .header_type1.header_left #access ul li.with-megamenu>ul.sub-menu, 
    .full_width_header .header_type1.header_left #access ul li.with-megamenu:hover>ul.sub-menu{
        max-width: 100%;
        left: 0px;
    }
  
    .col-md-9.rightmargin .has_4per_row.col-md-4 .property_listing.property_unit_type1 .property_location, 
    .has_4per_row.col-md-3 .property_listing.property_unit_type1 .property_location {
        padding: 0px 20px;
    }
    
    .col-md-3.listing_wrapper .property_location {
        padding: 13px 0px;
    }
    
    .col-md-3.listing_wrapper,
    .col-md-4.listing_wrapper{
        /* width:50%; */
    }
    
    .property_listing.places_listing {
        min-height: 460px;
    }
    
    
    .blog2v .property_listing {
        overflow: hidden;
        min-height: 485px;
    }

    .listing_name {
        display: inline;
        margin-left: 0px;
        float: left;
        max-width: 100%;
        line-height: 18px;
        position: relative;
        margin-top: 0px;
    }
 
    #access ul li.with-megamenu>ul.sub-menu, 
    #access ul li.with-megamenu:hover>ul.sub-menu {
        max-width: 100%;
        left:0px;
    }
    
}







@media only screen and  (max-width: 1600px) and (min-width: 992px){
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4  .listing_details.half_map_list_view, 
    .page-template-property_list_half .col-md-12.has_prop_slider.listing_wrapper.property_unit_type4  .listing_details.half_map_list_view{
            display:none;
    }

    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .listing_unit_price_wrapper {
        width: 100%;
        margin-bottom: 10px;
    }

    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .property_listing_details {
        margin: 5px 10px 20px 0px;
    }

    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .inforoom_unit_type4, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .infobath_unit_type4,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .infosize_unit_type4{ 
        width: 33%;
    }

    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .inforoom_unit_type4:before{
        display: none;
    }

    #google_map_prop_list_sidebar .listing_wrapper.col-md-12.property_unit_type4 .property_address_type4 {
        float: none;
    }
    
}

@media only screen and  (max-width: 1370px) and (min-width: 640px){
    .col-md-9.col-md-push-3.rightmargin .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details.half_map_list_view,
    .col-md-9.col-md-push-3.rightmargin .listing_wrapper.col-md-12.property_listing.property_unit_type2  .listing_details.half_map_list_view{
        display: none;
    }
    
    .col-md-push-3.rightmargin .listing_wrapper.col-md-12  > .property_listing.property_unit_type2 .listing_details.half_map_list_view{
        padding-left: 400px;
    }
    
    #google_map_prop_list_sidebar  .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details.the_grid_view{
        display:none!important
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing-unit-img-wrapper, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 >.property_listing.property_unit_type2 .carousel-inner{
        min-height: 160px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_location{
        margin: 0px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing-unit-img-wrapper,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type2 .carousel-inner {
        max-width: 100%;
    }
    #google_map_prop_list_sidebar .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_unit_price_wrapper,
    #google_map_prop_list_sidebar .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type2 h4, 
    #google_map_prop_list_sidebar .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_listing_details{
        margin-left:20px;
    }
    
    #google_map_prop_list_sidebar .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 h4,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_unit_price_wrapper, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details.the_list_view, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_listing_details,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .listing_details{
        padding-left:20px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_listing_details {
        margin-bottom: 80px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 h4{
        float:left;
    }
}

@media only screen and  (max-width: 1350px) and (min-width: 640px){  
      
    .col-md-9.rightmargin .has_4per_row.col-md-4 .property_listing, 
    .has_4per_row.col-md-3 .property_listing {
        margin-bottom: 15px;
    } 
    
    #google_map_prop_list_sidebar .listing_wrapper.property_unit_type2.col-md-12{
        float:left;
    }
   
    .col-md-9.rightmargin .listing_wrapper.col-md-12.property_unit_type4 .listing_details.half_map_list_view,
    .col-md-9.rightmargin .listing_wrapper.col-md-12 .listing_details.the_list_view{
        display:none!important;
    }
    .col-md-9.rightmargin .listing_wrapper.col-md-12 .listing_details.half_map_list_view{
        display:block;
    }

    
    .has_4per_row.listing_wrapper.col-md-12 .property_listing_details {
        padding-left: 347px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .listing-unit-img-wrapper, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing .carousel-inner{
        max-width: 525px;
        min-height: 190px;
    }


    .listing_wrapper.col-md-12 .listing-unit-img-wrapper, .listing_wrapper.col-md-12 > .property_listing .carousel-inner {
        max-width: 325px;
        width: 100%;
        display: inline;
        float: left;
        min-height: 200px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_location_unit_type3 {
        margin-left: 325px;
        padding-left: 13px;
    }
    
     #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type1 .listing-unit-img-wrapper, 
     #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type1 .carousel-inner {
        width: auto;
        max-width: 100%;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing .carousel-inner,
    #google_map_prop_list_sidebar  .listing_wrapper.col-md-12 .property_listing img{
        max-width: 100%;
    }
      
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 h4,
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_address_type3, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_listing_details, 
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_location_unit_type{
        padding-left: 15px;
    }
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_categ_unit_type3{
         margin-left: 15px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_listing_details{
        margin-bottom: 10px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_categ_unit_type3{
        float: left;
        margin-bottom: 25px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_location_unit_type3{
        margin-left:0px;
    }
    
    
    #google_map_prop_list_sidebar  .listing_wrapper.col-md-12 .property_listing h4 {
        padding-left: 20px;
        float: left;
        width: 100%;
        margin-top: 20px;
    }
        
    #google_map_prop_list_sidebar  .listing_wrapper.col-md-12 .property_location {
        padding-left: 0px; 
        float: left;
        width: auto;
        margin: 0px;
        left: 20px;
    }
    
    
    #google_map_prop_list_sidebar  .listing_wrapper.col-md-12 .property_listing .listing_details{
        float: left;
        width: 100%;
        padding: 0px 20px;
        margin-top: 5px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 > .property_listing {
        padding-bottom: 50px;
        margin-bottom: 30px;
    }

    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type1 .featured_div{
        top:20px;
    }


    .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .featured_div{
            top: 20px;
    }
    
    
    .col-md-9.col-md-push-3.rightmargin .has_4per_row.listing_wrapper.col-md-12 .listing_details.half_map_list_view,
    .col-md-9.col-md-push-3.rightmargin .listing_wrapper.col-md-12 .listing_details.half_map_list_view{
        display: block;
    }
    
    .col-md-9.col-md-push-3.rightmargin .has_4per_row.listing_wrapper.col-md-12 .listing_details.the_list_view,
    .col-md-9.col-md-push-3.rightmargin .listing_wrapper.col-md-12 .listing_details.the_list_view{
        display: none!important;
    }
    
    .has_4per_row.listing_wrapper.col-md-12 .listing_details.the_list_view {
        padding-left: 347px;
        margin-top: 0px;
        margin: 0px 0px 0px 0px;
    }
    
    .listing_wrapper.col-md-12 .property_listing_details {
        padding-left: 347px;
    }
}

@media only screen and (max-width: 640px){
    .container_agent .col-md-5.agentpic-wrapper, 
    .container_agent .col-md-7.agent_details,
    .col-md-12 .container_agent .col-md-5.agentpic-wrapper,
    .col-md-12 .container_agent .col-md-7.agent_details{
        width:100%;
        padding-right: 0px;
        max-width: 100%;
    }
    
    .container_agent .col-md-7.agent_details {
        margin-top: 20px;
    }
    
    .page-template-front_property_submit .half_form {
        width: 100%;
        padding: 0px;
    }
    
    .page-template-front_property_submit .navigation_container a {
        width: 100%;
        height: auto;
        text-align: left;
    }
    
     .page-template-front_property_submit #front_submit_prev_step {
        margin-bottom: 15px;
    }

    .col-md-9 .listing_wrapper.col-md-12.property_unit_type4,
    .listing_wrapper.col-md-12.property_unit_type4{
        width: 100%!important;
        float: none;
        padding: 0px!important;
        margin: 0px auto!important;
    }

    .listing_wrapper.col-md-12.property_unit_type4 .listing-unit-img-wrapper,
    .listing_wrapper.col-md-12.property_unit_type4 > .property_listing .carousel-inner {
        min-height: 130px;
    }
    
    #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing.property_unit_type2 .property_location {
        margin-left: 0px;
    }
    
    .user_role_unit {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .user_role_featured_image {
        order: 1;
        width: 100%;
        float: left;
    }
    
    .featured_user_role_unit_details {
        order: 2;
        width: 100%;
        height: auto;
    }
    
    .user_role_status {
        z-index: 99;
    }
    
    .button_user_role {
        position: relative;
        left: 0px;
        bottom: 0px;
        margin-bottom: 0px;
    }
    
    .user_role_content {
        padding-bottom: 10px;

    }
    
    .admin-bar.has_top_bar .has_header_type2 #google_map_prop_list_wrapper,
    .admin-bar.has_top_bar .has_header_type2 #google_map_prop_list_sidebar {
        margin-top: 5px;
    }
    
    .has_top_bar .has_header_type2 #google_map_prop_list_wrapper, 
    .has_top_bar .has_header_type2 #google_map_prop_list_sidebar {
        top: 90px;
        margin-top: 0px;
    }
    
    .featurescol {
        width: 100%;
        float: left;
        padding-left: 0px;
    }
    
    .has_4per_row.listing_wrapper.col-md-12 .property_listing .listing_unit_price_wrapper, 
    .has_4per_row.listing_wrapper.col-md-12 .property_listing h4 {
        padding-left: 20px;
        float: left;
    }
    .has_4per_row.listing_wrapper.col-md-12 .property_location {
        margin: 0px 15px 0px 20px;
    }

    
     .adv_listing_filters_head, .listing_filters_head, .listing_filters{
        border-bottom: 0px;
        border-top:0px;
    }
    
     .col-md-push-3.rightmargin .listing_wrapper.col-md-12 {
        margin: 13px;
    }

    .col-md-12 #google_map_prop_list_sidebar .listing_wrapper.col-md-12 .property_listing{
        margin-top: 0px;
        margin-left: 0px; 
    }
    
    .listing_wrapper.col-md-12{
        float: none;
        max-width: 525px;
    } 
   
    .listing_wrapper.col-md-12 > .property_listing .carousel-inner,
    .listing_wrapper.col-md-12 .property_listing img{
        max-width: 100%;
    }
    
    .has_4per_row.listing_wrapper.col-md-12 .property_listing.property_unit_type3 h4{
        padding-left: 13px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 h4,
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_address_type3, 
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_listing_details, 
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_location_unit_type{
        padding-left: 15px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_categ_unit_type3{
         margin-left: 0px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_listing_details{
        margin-bottom: 10px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_categ_unit_type3{
        float: left;
        margin-bottom: 0px;
    }
    
    .listing_wrapper.col-md-12 > .property_listing.property_unit_type3 .property_location_unit_type3{
        margin-left:0px;
    }
    
    .listing_wrapper.col-md-12 .property_listing h4 {
        padding-left: 20px;
        float: left;
        width: 100%;
    }
        
    .listing_wrapper.col-md-12 .property_location {
        padding-left: 13px;
        float: left;
        max-width: 100%;
        margin: 0px;
        padding: 13px 0px;
        left: 20px;
        right: 20px;
    }
    
    .listing_wrapper.col-md-12 .property_listing .listing_details{
        float: left;
        width: 100%;
        padding-left:20px;
       
    }
    
    .listing_wrapper.col-md-12 > .property_listing {
        padding-bottom: 50px;
        min-height: 460px;
        
    }
    
    .listing_wrapper.col-md-12 .property_listing .listing_unit_price_wrapper {
        padding-left: 20px;
        float: left;
        width: 100%;
    }

    .listing_wrapper.col-md-12 .property_listing_details {
        padding-left: 20px;
        width: 100%;
        float: left;
    }
    .listing_wrapper.col-md-12 .listing-unit-img-wrapper, .listing_wrapper.col-md-12 > .property_listing .carousel-inner {
        max-width: initial;
    }
    
    .theme_slider_extended .slider-content {
        bottom: 0px;
    }
    .col-md-12.full_width_prop .vc_col-sm-9 .wpestate_estate_property_design_agent #agent_contact_name, 
    .col-md-12.full_width_prop .vc_col-sm-9 .wpestate_estate_property_design_agent #agent_user_email, 
    .col-md-12.full_width_prop .vc_col-sm-9 .wpestate_estate_property_design_agent #agent_phone, 
    .col-md-12.full_width_prop .vc_col-sm-8 .wpestate_estate_property_design_agent #agent_contact_name, 
    .col-md-12.full_width_prop .vc_col-sm-8 .wpestate_estate_property_design_agent #agent_user_email, 
    .col-md-12.full_width_prop .vc_col-sm-8 .wpestate_estate_property_design_agent #agent_phone{
        width:100%;
    }
   
    
    #google_map_prop_list_wrapper.half_no_top_bar.half_type2, 
    #google_map_prop_list_sidebar.half_no_top_bar.half_type2, 
    #google_map_prop_list_wrapper.half_no_top_bar.half_type3, 
    #google_map_prop_list_sidebar.half_no_top_bar.half_type3 {
        top: 0px;
        margin-top: 0px;
    }
    
    .admin-bar #google_map_prop_list_sidebar.half_type3, 
    .admin-bar #google_map_prop_list_sidebar.half_type2, 
    .admin-bar #google_map_prop_list_wrapper.half_type2, 
    .admin-bar #google_map_prop_list_wrapper.half_type3 {
      margin-top: 0px;
    }

    .admin-bar #google_map_prop_list_wrapper.half_no_top_bar.half_type2, 
    .admin-bar #google_map_prop_list_sidebar.half_no_top_bar.half_type2, 
    .admin-bar #google_map_prop_list_wrapper.half_no_top_bar.half_type3, 
    .admin-bar #google_map_prop_list_sidebar.half_no_top_bar.half_type3{
        top:-44px;
    }
    
    
    #tab_prpg li {
        border-right: none!important;
    }

    #google_map_prop_list_sidebar .property_listing {
        margin:0px auto;
        margin-bottom: 30px;
    }
    
    .fixed_header {
        position: relative;
        border: none;
    }
    
    #google_map_prop_list_sidebar #search_wrapper {
        border:none;
    }
    
    .fixed_header.container {
        padding:0px;
    }
    
    #google_map_prop_list_sidebar .property_listing {
        max-width: 100%; 
    }
    
    #google_map_prop_list_sidebar .adv_search_slider {
        display: inline;
        float: left;
        width: 100%;
    }

    #google_map_prop_list_sidebar{
        overflow:hidden;
    }
    #google_map_prop_list_wrapper.half_type1 {
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    #google_map_prop_list_wrapper{ 
        position: relative;
        width: 100%;
        height: 500px;
    }
    
    .admin-bar #google_map_prop_list_wrapper, 
    .admin-bar #google_map_prop_list_sidebar {
        margin-top:0px;
    }  
    
    #google_map_prop_list_wrapper.half_type2, 
    #google_map_prop_list_sidebar.half_type2, 
    #google_map_prop_list_wrapper.half_type3, 
    #google_map_prop_list_sidebar.half_type3 {
        top: -12px!important;
    }
    
    .slider_control_right{
        top: -9px;
        float: right;
    }
    
    .title_slider {
        display: inline-block;
        margin-top: 30px;
    }
    
    .slider_control_left{
        top: -9px;
        left:auto;
        float: right;
    }
    
    .floor_details{
        width:100%;
        padding-left: 10px;
    }
    
    .advanced_search_shortcode .extended_search_checker{
        width:100%;
    }
    
    .extended_search_checker{
        width:100%;
    }
    
    .half_form {
        width: 100%;
    }
    
    .half_form_last{
        margin-left:0px;
    }
    
    .user_dashboard_status {
        position: relative;
        top: auto;
        right: auto;
        margin: 10px 0px;
    }

    .prop-info{
        height:100%;
        left:0px;
    }
    
    .info-container,
    .listing_submit{
        position:relative;
        float:left;
        display:inline;
        bottom:auto;
        margin-top:10px;
       
    }
    
    .listing_submit{
        width:100%;
        margin-left: 10px;
    }
    
    .info-container,
    .user_dashboard_listed ,
    .listing_title{
        padding-left:10px;
    }
    
    .items_compare img {
        border-radius: 4px;
        margin-bottom: 13px;
    }
    .compare_item_head{
        height: 300px;
    }
    
    .compar-3 .prop_value, 
    .compar-2 .compare_item_head,
    .compar-1 .prop_value,
    .compar-2 .prop_value,
    .compar-3 .prop_value,
    .compar-4 .prop_value,
    .compar-1 .compare_legend_head, 
    .compar-1 .compare_legend_head_in, 
    .compar-2 .compare_legend_head, 
    .compar-2 .compare_legend_head_in, 
    .compar-3 .compare_legend_head, 
    .compar-3 .compare_legend_head_in,
    .compar-4 .compare_legend_head, 
    .compar-4 .compare_legend_head_in,
    .compar-1 .compare_item_head
    .compar-2 .compare_item_head,
    .compar-3 .compare_item_head,
    .compar-4 .compare_item_head{
        width:100%
    }
    
    .compare_legend_head_in{
       font-weight: bold;
    }
    .prop_value{
        padding-left: 5px;
    }
    .compare_legend_head:empty{
        height:0px;
    }

    #schedule_meeting{
/*        margin-left: 0px;*/
        margin-bottom: 13px
    }
    
    #agent_contact_name, #agent_user_email, #agent_phone {
        width: 100%;
        margin-right: 13px;
        float: left;
    }
    
    .wpestate_estate_property_design_agent #agent_contact_name, 
    .wpestate_estate_property_design_agent #agent_user_email, 
    .wpestate_estate_property_design_agent #agent_phone {
        width: 100%;
    }     

    .comment-form-url, 
    .comment-form-email, 
    .comment-form-author{
        width:100%;
    }
    
    .prop_social_single {
        width: 100%;
        padding-bottom: 10px;
        text-align: left;
        margin: 15px 0px;
        float: left;
        display: inline-block;
    }

    #gmapzoomminus{
        left:15px;
    }
    
    #gmapzoomplus{
        left:15px;
    }
    .with_search_9 #openmap {
        right: auto;
    }
    
    .with_search_7 #openmap,
    #openmap{
        right: auto;
        left: 15px;
    }

    
    .listing_filters_head, 
    .listing_filters{
        border: none;
        float: left;
        height: auto;
    }
    
    .listing_filters_head{
        border-bottom: none!important;
    }
      
   .listing_filter_select{
        border-right: 1px solid #f0f0f0;
        width: 100%;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 0px;
    }
    
    .single-title{
     word-break: normal;   
    }
    
    .advanced_search_shortcode .form-control {
        width: 100%;
    }
    
    #advanced_search_shortcode .adv_search_slider{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .post-carusel iframe {
      min-height: 100px;
    }
    .videoitem{
        height: auto;
    }
    
    .caption_control,
    #carousel-listing .carousel-round-indicators,
    .carusel-back, 
    #carousel-listing .carousel-indicators,
    #carousel-indicators-vertical{
        display:none;
    }
    .carouselvertical .carousel-inner{
        padding-right: 0px;
        margin: 0px auto;
    } 
    
    
    #tab_prpg li{
        /* width:100%; */
    }
    
    .carouselvertical {
        height: auto!important;
    }
    
    .vertical-wrapper{
        display:none;   
    }
    .carouselvertical .slider-property-status {
        float: right;
        right: 15px!important;
    }
    
    .carousel-control.right.vertical{
        right: 0px;
    }
    .custom_span_header{
     width:100%;   
    }
}
